<!-- NC TEMPLATE ONLY -->
<div ng-class="['form-group ' + (options.formGroupClass || '')]">
	<div class="width-label"><label class="control-label" ng-class="options.labelClass || {}">{{ label }}</label></div>
	<div ng-class="['width-field-' + (options.inputSize || 'normal')]" class="{{options.inputClass}}">
		<ng-transclude class="{{ options.transcludeClasses }}" ng-class="{ 'has-error' : isInvalid(templateField()) }"></ng-transclude>
		<span class="input-with-unit" ng-if="options.unit"><span class="input-unit">{{ options.unit }}</span></span>
		<span class="help-block" ng-if="options.hint" ng-show="options.hint.show">{{options.hint.message}}</span>
		<span class="help-block color-red" ng-if="isInvalid(templateField())"
        ng-repeat="(key, prop) in (templateField().$error) track by key">
			<span ng-bind-html="options.error.messages[key]"></span>
		</span>
	</div>
	<div class="width-field-tooltip padding-left-30">
        <i class="fa fa-2x fa-question-circle color-grey" uib-tooltip-html="options.tooltip"
        tooltip-trigger="mouseenter" tooltip-placement="right"
        ng-if="options.tooltip && options.tooltip.length > 0">
        </i>
   </div>
</div>
