<div ng-class="['form-group ' + (options.formGroupClass || '')]" ng-init="inputType='password'">
	<div class="width-label"><label class="control-label" ng-class="options.labelClass || {}" ng-bind-html="options.label"></label></div>
	<div ng-class="['width-field-' + (options.inputSize || 'normal')]">
		<div class="input-password">
			<ng-transclude></ng-transclude>
			<a ng-click="inputType = (inputType == 'password' ? 'text' : 'password')"><i class="fa fa-eye fa-lg input-password-eye pointer" ng-class="{'active' : inputType == 'text' }"></i></a>
		</div>
		<span class="help-block" ng-if="options.hint" ng-show="options.hint.show">{{options.hint.message}}</span>
		<span class="help-block color-red" ng-if="options.error" ng-show="options.error.show" ng-repeat="(key, prop) in options.error.conditions">
			<span ng-bind-html="options.error.messages[key]"></span>
		</span>
	</div>
	<div ng-if="options.tooltip && options.tooltip.length > 0" class="width-field-tooltip padding-left-30"><i class="fa fa-2x fa-question-circle color-grey" uib-tooltip-html="options.tooltip" tooltip-trigger="mouseenter" tooltip-placement="right"></i></div>
</div>
