<div class="tradable-list">
  <div class="left-column">
    <div class="search-section section-search">
      <input type="text" ng-model="search[options.map.text]" class="form-control input-search-icon search-box" placeholder="Search Attribute Set" aria-describedby="basic-addon2">
    </div>
    <div class="clickable-list">
      <ul class="content-column">
        <li ng-repeat="item in selectable | filter:search:strict track by $index" ng-class="{ 'active' : activeLeft == selectable.indexOf(item) }" ng-click="select(selectable.indexOf(item), true)" ng-if="!contain(item)">{{ options.map.text == null ? item : item[options.map.text] }}</li>
      </ul>
    </div>
  </div>

  <div class="center-column">
    <div class="trade-button" ng-class="active(false)" ng-click="transfer(true)"> 
       <i class="fa fa-chevron-right"></i>
    </div>
    <div class="trade-button" ng-class="active(true)" ng-click="transfer(false)"> 
      <i class="fa fa-chevron-left"></i>
    </div>
  </div>

  <div class="right-column">
    <div class="list-header">
      <span class="column-1">Attribute Set in This Category</span>
    </div>
    <div class="clickable-list">
      <ul class="content-column">
        <li ng-repeat="item in model track by $index" ng-class="{ 'active' : activeRight == model.indexOf(item), 'disabled' : test(item) }" ng-click="select(model.indexOf(item), false)">
          {{ options.map.text == null ? item : item[options.map.text] }}
        </li>
      </ul>
    </div>
  </div>
</div> 