<div class="form-section">
    <div class="form-section-header">
    <h2>Group Information</h2></div>
    <div class="form-section-content">
        <div nc-template="common/input/form-group-with-label" nc-template-form="form.Category"
            nc-template-options-path="createGroupVariant/Required"
            nc-label="Category">
                <a class="form-text" ng-click="openCategorySelectorModal()">
                    {{ formData.Category.NameEn || 'Select Category' }}
                </a>
        </div>

        <div nc-template="common/input/form-group-with-label" nc-template-form="form.AttributeSet"
            nc-template-options-path="createGroupVariant/Required"
            nc-label="Attribute Set">
            <ui-select ng-model="formData.AttributeSet" theme="selectize" loading="refresher.AttributeSetLoading">
                <ui-select-match>
                    <span ng-bind-html="$select.selected.AttributeSetNameEn"></span>
                    <span ng-show="!$select.selected.AttributeSetNameEn"><span class="color-grey">
                        <i class="fa fa-search"></i> Search Attribute Set</span>
                    </span>
                </ui-select-match>
                <ui-select-choices group-by="'_group'" ui-disable-choice="item.disabled" refresh-delay="1000" 
                refresh="refresher.AttributeSets($select.search)" 
                repeat="item in dataset.CombinedAttributeSets | filter: $select.search  track by item.AttributeSetId">
                    <span ng-bind-html="item.AttributeSetNameEn | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>

        <div nc-template="common/input/form-group-with-label" nc-label="">
            <button class="btn btn-blue btn-width-xxl" ng-click="createVariationOption()">Create Variation Option
            </button>
        </div>
    </div>
</div>