<div class="form-section">
    <div class="form-section-header">
    <h2>Group Information</h2></div>
    <div class="form-section-content">

        <div nc-template="common/input/form-group-with-label" nc-template-form="form.Category"
            nc-template-options-path="createGroupVariant/Required"
            nc-label="Category">
            <ui-select ng-model="formData.Category" theme="selectize" loading="refresher.BrandLoading">
            <ui-select-match>
            <span ng-bind-html="$select.selected.BrandNameEn"></span>
            <span ng-show="!$select.selected.BrandNameEn"><span class="color-grey"><i class="fa fa-search"></i> Search Brand</span></span>
            </ui-select-match>
            <ui-select-choices group-by="'_group'" ui-disable-choice="item.disabled" refresh-delay="5" refresh="refresher.Brands($select.search)" repeat="item in (dataset.Brands.length == 0 || $select.search == '' ? dataset.BrandsEmpty : dataset.Brands) | filter: $select.search  track by item.BrandId">
            <span ng-bind-html="item.BrandNameEn | highlight: $select.search"></span>
            </ui-select-choices>
            </ui-select>
        </div>
        <div nc-template="common/input/form-group-with-label" nc-template-form="form.AttributeSet"
            nc-template-options-path="createGroupVariant/Required"
            nc-label="Attribute Set">
            <ui-select ng-model="formData.AttributeSet" theme="selectize" loading="refresher.AttributeSetLoading">
            <ui-select-match>
            <span ng-bind-html="$select.selected.BrandNameEn"></span>
            <span ng-show="!$select.selected.BrandNameEn"><span class="color-grey"><i class="fa fa-search"></i> Search Brand</span></span>
            </ui-select-match>
            <ui-select-choices group-by="'_group'" ui-disable-choice="item.disabled" refresh-delay="5" refresh="refresher.Brands($select.search)" repeat="item in (dataset.Brands.length == 0 || $select.search == '' ? dataset.BrandsEmpty : dataset.Brands) | filter: $select.search  track by item.BrandId">
            <span ng-bind-html="item.BrandNameEn | highlight: $select.search"></span>
            </ui-select-choices>
            </ui-select>
        </div>

         <div nc-template="common/input/form-group-with-label" nc-label="">
            <button class="btn btn-blue btn-width-xxl">Create Variation Option</button>
         </div>
    </div>
</div>