<form ng-submit="updateStock(popoverItem)" id="inventory-tab-content" class="content">
	<span class='col-xs-8 padding-left-0 margin-bottom-15 margin-top-10'>In Stock</span>
	<span class='text-right col-xs-4 margin-top-10 margin-bottom-15'>{{popoverItem.Quantity || '0'}}</span>
	<span class='col-xs-8 padding-left-0 margin-bottom-15'>Update</span>
		<input class='text-right col-xs-4' type="number" ng-model="popoverItem.UpdateQuantity" ng-pattern-restrict="^[0-9]*$" maxlength="6"/>
	<span class='col-xs-8 padding-left-0 margin-bottom-15'>Defect</span>
		<span class='text-right col-xs-4'>{{popoverItem.Defect || '0'}}</span>
	<div><span class='col-xs-8 padding-left-0 margin-bottom-15'>On Hold</span>
		<span class='text-right col-xs-4'>{{popoverItem.OnHold || '0'}}</span></div>
	<div><span class='col-xs-8 padding-left-0 margin-bottom-15 border_modal'>Reserved</span>
	  	<span class='text-right col-xs-4 border_modal'>{{popoverItem.Reserve || '0'}}</span></div>
	<div><span class='col-xs-8 padding-left-0 available_inventory'>Available</span><span class='text-right col-xs-4 available_inventory '>{{ getAvailableStock(popoverItem) }}</span></div>
	<div class='text-center'>
	  <button class='btn btn-blue btn-width-100 text-center'>Save</button>
	</div>
</form>