<div>
    <div class="alert alert-yellow" ng-if="formDataPtr.Status == 'WA' && !adminMode">
        This product is waiting for approval from the admin. You cannot edit it now.
    </div>
    <div class="margin-bottom-20">
        <!-- <span>Global Category:</span> -->
        <span>{{ breadcrumb.globalCategory }}</span>
        <span ng-if="formData.ProductId"> &gt; {{ formData.MasterVariant.ProductNameEn }}</span>
        <span ng-if="formData.ProductId"> ({{ formData.MasterVariant.Pid }})</span>
    </div>
</div>
