<form class="ah-form" name="addProductVariantForm">
    <div class="modal-header">
        <h3 class="float-left modal-title" ng-init="form = addProductVariantForm">Variant: {{ pair.text }}</h3>

        <span class="float-right">
	   <a class="link-btn-plain" ng-click="no()">Cancel</a>
	   <button type="button" ng-disabled="form.$invalid || uploader.isUploading" 
       class="btn btn-blue btn-width-xl" ng-click="yes()">Save</button>
	</span>
    </div>
    <div class="modal-body margin-top-20">
        <div class="row">
            <div class="col-xs-12">
                <div ng-if="form.$invalid && form.$dirty" class="alert alert-red" ng-cloak>
                    Please make sure all required fields are filled and has no error.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-section">
                    <div class="form-section-header">
                        <h2>Vital Information</h2></div>
                    <div class="form-section-content modal-custom">
                        <div nc-template="common/input/form-group-with-label" nc-template-form="form.ProductNameEn" nc-label="Product Name (English)"
                        nc-template-options-path="addProductForm/ProductNameEn">
                            <input class="form-control width-field-large" name="ProductNameEn" ng-model="pair.ProductNameEn" maxlength="300" ng-pattern="/^([^<>ก-๙])+$/"
                            required />
                        </div>

                        <div nc-template="common/input/form-group-with-label" nc-label="Product Name (ไทย)" nc-template-form="form.ProductNameTh"
                        nc-template-options-path="addProductForm/ProductNameTh">
                            <input class="form-control width-field-large" name="ProductNameTh" ng-model="pair.ProductNameTh" ng-pattern="/^[^<>]+$/"
                            maxlength="300" required />
                        </div>

                        <div nc-template="common/input/form-group-with-label" nc-label="SKU" nc-template-form="form.Sku" nc-template-options-path="addProductForm/Sku">
                            <input class="form-control width-field-large" name="Sku" ng-model="pair.Sku" maxlength="300" required ng-pattern="/^[^<>]+$/" />
                        </div>


                        <div nc-template="common/input/form-group-with-label" nc-label="UPC" nc-template-form="form.Upc" nc-template-options-path="addProductForm/Upc">
                            <input class="form-control width-field-large" ng-pattern="/^[^<>]+$/" name="Upc" maxlength="300" ng-model="pair.Upc" />
                        </div>

                        <div class="form-group">
                            <div class="width-label">
                                <label class="control-label">
                                    Display
                                </label>
                            </div>
                            <div class="width-field-normal">
                                <div class="ah-select2-dropdown">
                                    <select class="form-control" ng-model="pair.Display">
                                        <option value="{{op.value}}" ng-repeat="op in dataset.VariantDisplayOption">
                                            {{ op.text }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div ap-component="ap/section-price"></div>
                <div ap-component="ap/section-image-video"></div>
                <div ap-component="ap/section-description"></div>
                <div ap-component="ap/section-inventory"></div>
                <div ap-component="ap/section-shipping"></div>
                <div ap-component="ap/section-seo"></div>

            </div>
            <!-- end .col-xs-12 -->
            <div class="col-xs-12">
                <span class="float-right">
					<a class="link-btn-plain" ng-click="no()">Cancel</a>
					<button type="button"
                     ng-disabled="form.$invalid || uploader.isUploading"
                     class="btn btn-blue btn-width-xl" ng-click="yes()">Save</button>
						</span>
            </div>
            <!-- end .col-xs-12 -->
        </div>
        <!-- end .row -->
    </div>
    <!-- end .modal-body -->
    <form>
