<div class="form-section">
    <div class="form-section-header">
        <h2>Vital Information</h2>
    </div>
    <div class="form-section-content">
        <div nc-template="common/input/form-group-with-label" ng-init="form = addProductForm" nc-template-form="form.ProductNameEn"
        nc-label="Product Name (English)" nc-template-options-path="addProductForm/ProductNameEn">
            <input class="form-control width-field-large" name="ProductNameEn" ng-model="variantPtr.ProductNameEn"
            maxlength="300" ng-pattern="/^([^<>ก-๙])+$/" required />
        </div>

        <div nc-template="common/input/form-group-with-label" nc-label="Product Name (ไทย)" nc-template-form="form.ProductNameTh"
        nc-template-options-path="addProductForm/ProductNameTh">
            <input class="form-control width-field-large" name="ProductNameTh" ng-model="variantPtr.ProductNameTh"
            ng-pattern="/^[^<>]+$/" maxlength="300" required />
        </div>

        <div nc-template="common/input/form-group-with-label" nc-label="SKU" nc-template-form="form.Sku" nc-template-options-path="addProductForm/Sku">
            <input class="form-control width-field-large" name="Sku" ng-model="variantPtr.Sku" maxlength="300"
            ng-pattern="/^[^<>]+$/" />
        </div>


	<div nc-template="common/input/form-group-with-label" nc-label="UPC" nc-template-form="form.Upc" nc-template-options-path="addProductForm/Upc">
		<input class="form-control width-field-large" ng-pattern="/^[^<>]+$/" name="Upc" maxlength="300"
		 ng-model="variantPtr.Upc"  />
	</div>

	<div ng-if="variantPtr.MasterVariant.Pid">
		<div nc-template="common/input/form-group-with-label" nc-template-form="form.Pid"
							nc-label="{{ (formData.Variants || []).length > 0 ? 'Group ID' : 'PID' }}"
										    nc-template-options-path="addProductForm/Pid">
			<input class="form-control width-field-large" name="Pid" disabled ng-model="variantPtr.Pid"/>
		</div>
	</div>


	<div class="form-group">
		<div class="width-label">
			<label class="control-label required">Brand Name</label>
		</div>
		<div class="width-field-normal">
			<div class="ah-select2-dropdown">

                <!--<md-autocomplete md-selected-item="formData.Brand"
                    md-search-text="ctrl.brandSearchText"
                    md-items="item in refresher.Brands(ctrl.brandSearchText)"
                    md-item-text="item.BrandNameEn"
                    md-min-length="1"
                    md-delay="500"
                    placeholder="Search Brand">
                        <md-item-template>
                            <span md-highlight-text="ctrl.brandSearchText" md-highlight-flags="^i">{{item.BrandNameEn}}</span>
                        </md-item-template>
                        <md-not-found>
                            No Product Found
                        </md-not-found>
               </md-autocomplete>-->
				<!--<ui-select ng-model="formData.Brand" theme="selectize" loading="refresher.BrandLoading">
					<ui-select-match>
						<span ng-bind-html="$select.selected.BrandNameEn"></span>
						<span ng-show="!$select.selected.BrandNameEn"><span class="color-grey"><i class="fa fa-search"></i> Search Brand</span></span>
					</ui-select-match>
					<ui-select-choices group-by="'_group'" ui-disable-choice="item.disabled" refresh-delay="5" refresh="refresher.Brands($select.search)" repeat="item in (dataset.Brands.length == 0 || $select.search == '' ? dataset.BrandsEmpty : dataset.Brands) | filter: $select.search  track by item.BrandId">
						<span ng-bind-html="item.BrandNameEn | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>-->

                <you-me display-by="BrandNameEn" placeholder="Search Brand" 
                        auto-clear-search="true"
                        ng-model="formData.Brand" refresh="refresher.Brands" choices="dataset.Brands"></you-me>

			</div>
		</div>
	</div>
    </div>
</div>
