<div class="form-section">
    <div class="form-section-header">
        <h2>Vital Information</h2>
    </div>
    <div class="form-section-content">
        
        <div nc-template="common/input/form-group-with-label" ng-init="form = addProductForm" 
        nc-template-form="form.ProductNameEn"
        nc-label="Product Name (English)" nc-template-options-path="addProductForm/ProductNameEn">
            <input class="form-control width-field-large" name="ProductNameEn" ng-model="variantPtr.ProductNameEn"
            maxlength="255" ng-pattern="/^([^<>ก-๙])+$/"
            required />
        </div>

        <div nc-template="common/input/form-group-with-label" 
        nc-label="Product Name (ไทย)" nc-template-form="form.ProductNameTh"
        nc-template-options-path="addProductForm/ProductNameTh">
            <input class="form-control width-field-large" name="ProductNameTh" ng-model="variantPtr.ProductNameTh"
            ng-pattern="/^[^<>]+$/" maxlength="255" required />
        </div>
        
        <div nc-template="common/input/form-group-with-label" nc-policy-indy-bu 
        nc-label="Short Product Name (Eng)" nc-template-form="form.ProdTDNameEn"
        nc-template-options-path="addProductForm/NonRequiredSystemField">
            <input class="form-control width-field-large" name="ProdTDNameEn" ng-model="variantPtr.ProdTDNameEn"
            ng-pattern="/^[^<>]+$/" maxlength="55"  />
        </div>

        <div nc-template="common/input/form-group-with-label" nc-policy-indy-bu 
        nc-label="Short Product Name (ไทย)" nc-template-form="form.ProdTDNameTh"
        nc-template-options-path="addProductForm/NonRequiredSystemField">
            <input class="form-control width-field-large" name="ProdTDNameTh" ng-model="variantPtr.ProdTDNameTh"
            ng-pattern="/^[^<>]+$/" maxlength="55"  />
        </div>

        <div nc-template="common/input/form-group-with-label" nc-label="SKU" nc-template-form="form.Sku" nc-template-options-path="addProductForm/Sku">
            <input class="form-control width-field-large" name="Sku" ng-model="variantPtr.Sku" maxlength="255" required
            ng-pattern-restrict="^[a-zA-Z0-9]+$" />
        </div>


	<div nc-template="common/input/form-group-with-label" nc-label="UPC" 
    nc-template-form="form.Upc" nc-template-options-path="addProductForm/Upc">
		<input class="form-control width-field-large" 
         ng-pattern-restrict="^[a-zA-Z0-9]+$" name="Upc" maxlength="13"
		 ng-model="variantPtr.Upc"  />
	</div>

	<div ng-if="variantPtr.MasterVariant.Pid">
		<div nc-template="common/input/form-group-with-label" nc-template-form="form.Pid"
							nc-label="{{ (formData.Variants || []).length > 0 ? 'Group ID' : 'PID' }}"
										    nc-template-options-path="addProductForm/Pid">
			<input class="form-control width-field-large" name="Pid" disabled ng-model="variantPtr.Pid"/>
		</div>
	</div>


	<div class="form-group">
		<div class="width-label">
			<label class="control-label required">Brand Name</label>
		</div>
		<div class="width-field-normal">
			<div class="ah-select2-dropdown">

                <you-me display-by="BrandNameEn" placeholder="Search Brand" required
                        auto-clear-search="true" group-by="_group"
                        ng-model="formData.Brand" refresh="refresher.Brands" choices="dataset.Brands"></you-me>

			</div>
		</div>
	</div>
    </div>
</div>
