<div class="form-section">
    <div class="form-section-header">
        <h2>Price</h2></div>
    <div class="form-section-content">
        <div nc-template="common/input/form-group-with-label" nc-template-form="form.SalePrice" nc-label="Sale Price"
        nc-template-options-path="addProductForm/SalePrice">
            <input autocomplete="off" type="number" class="form-control width-field-normal" maxlength="20" name="SalePrice"
            ng-model="variantPtr.SalePrice" required/>
        </div>
        <div nc-template="common/input/form-group-with-label" nc-label="Original Price" nc-template-options-path="addProductForm/OriginalPrice"
        nc-template-form="form.OriginalPrice">
            <input autocomplete="off" class="form-control width-field-normal" type="number" name="OriginalPrice" ng-pattern="/^\d+(\.\d{1,2})?$/" maxlength="20"
            ng-model="variantPtr.OriginalPrice" />
        </div>

        <div nc-template="common/input/form-group-with-label" nc-label="Installment" nc-template-options-path="addProductForm/Installment"
        nc-template-form="form.Installment">
            <select ng-if="(variantPtr.SalePrice || 0) > 5000" class="form-control" ng-model="variantPtr.Installment">
                <option value="Y">Yes</option>
                <option value="N" selected>No</option>
            </select>

             <select disabled ng-if="(variantPtr.SalePrice || 0) <= 5000" class="form-control">
                 <option value="No" selected>Available when price is more than 5,000</option>
            </select>
        </div>

    </div>
</div>
