<table class="table variation-table">
	<thead>
		<tr>
			<th class="column-variant">Variant</th>
			<th class="column-mapped-product">Mapped Product</th>
			<th class="column-visibility">Visibility</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="pair in formData.Variants track by $index">
			<td class="column-text-ellipsis" ng-class="{'opacity-50': !pair.Visibility}">
				{{ pair.text }}
			</td>
			<td>
				<ui-select ng-model="pair.MappedProduct" name="pair_MappedProduct" 
				nc-tag-validator tagging tagging-label="" multiple nc-tag-field>
				<ui-select-match placeholder="Search Product Name, SKU, or PID">
					{{$item.ProductNameEn}}
				</ui-select-match>
				<ui-select-choices refresh="refresher.Products($select.search)" 
				repeat="item in dataset.Products">
					{{item.ProductNameEn}}
				</ui-select-choices>
				</ui-select>
			</td>
			<td>
				<a class="btn btn-white" ng-click='pair.Visibility = !pair.Visibility'>
					<span ng-if='pair.Visibility'>Hide</span>
					<span ng-if='!pair.Visibility'>Show</span>
				</a>
			</td>
		</tr>
	</tbody>
</table>