<div class="form-section">
    <div class="form-section-header">
        <h2>Price</h2></div>
    <div class="form-section-content">
        <div nc-template="common/input/form-group-with-label" nc-template-form="form.MasterVariant_SalePrice" nc-label="Sale Price"
        nc-template-options-path="addProductForm/MasterVariant_SalePrice">
            <input ng-pattern="/^\d+(\.\d{1,2})?$/" class="form-control width-field-normal" maxlength="20" name="MasterVariant_SalePrice"
            ng-model="formDataPtr.MasterVariant.SalePrice" required/>
        </div>
        <div nc-template="common/input/form-group-with-label" nc-label="Original Price" nc-template-options-path="addProductForm/MasterVariant_OriginalPrice"
        nc-template-form="form.MasterVariant_OriginalPrice">
            <input class="form-control width-field-normal" name="MasterVariant_OriginalPrice" ng-pattern="/^\d+(\.\d{1,2})?$/" maxlength="20"
            ng-model="formDataPtr.MasterVariant.OriginalPrice" />
        </div>
    </div>
</div>