<div class="form-section">
	<div class="form-section-header">
		<h2>Search Tags</h2></div>
	<div class="form-section-content">

		<div nc-template="common/input/form-group-with-label" nc-label="Search Tags" nc-template-form="form.Keywords" nc-template-options-path="addProductForm/Keywords">
			<you-me its-complicated="true" hide-icon="true" name="Keywords" placeholder="Separate with Enter" 
			block-duplicate-tag="true"
			max-tag-count="30" ng-disabled="xspermit(35)" max-length-per-tag="30" ng-model="formData.Tags"
			choices="formData.AttributeSet.AttributeSetTagMaps"></you-me>
		</div>

		<div class="form-group" ng-if="(formData.AttributeSet.AttributeSetTagMaps | nexclude: formData.Tags).length > 0">
			<div class="width-label">
				<label class="control-label">Suggested Search Tag</label>
			</div>
			<div class="width-field-xl">
				<div class="bootstrap-tagsinput tagsinput-plain">
					<a class="tag label label-info"
						ng-repeat="tag in formData.AttributeSet.AttributeSetTagMaps | nexclude: formData.Tags"
 						ng-click="(formData.Tags.indexOf(tag) == -1) && formData.Tags.push(tag)"> {{ tag }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
