<div class="form-section">
    <div class="form-section-header">
        <h2>Other Attributes</h2></div>
    <div class="form-section-content">

        <!-- for each attribute in attribute set -->
        <div class="form-group" ng-repeat="da in defaultAttributes">
            <div class="width-label">
                <label class="control-label" ng-class="{'required': da.Required}">
                    {{ da.AttributeNameEn }}
                </label>
            </div>
            <div ng-class="{'width-field-normal': !isHtmlInput(da.DataType), 'width-field-xxl': isHtmlInput(da.DataType)}">

                <select ng-if="isListInput(da.DataType)" ng-required="da.Required && onPublishing" class="form-control"
                ng-model="formData.MasterAttribute[da.AttributeId]" ng-class="{'has-error' : $root.isInvalid(form.DAInput{{ $index }}) }"
                name="DAInput{{$index}}" ng-options="item as item.AttributeValue.AttributeValueEn for item in da.AttributeValueMaps track by item.AttributeValueId">
                    <option disabled value="" selected>- Select option -</option> {{ da.AttributeId }}
                </select>

                <div ng-if="isHtmlInput(da.DataType)">
                    <textarea ng-required="da.Required && onPublishing" ng-class="{'has-error' : $root.isInvalid(form.DAInput{{ $index }}) }"
                    ng-model="formData.MasterAttribute[da.AttributeId]" name="DAInput{{$index}}" class="form-control"
                    ng-ckeditor="ckOptions"></textarea>
                </div>

                <input ng-if="isFreeTextInput(da.DataType)" ng-class="{'has-error' : $root.isInvalid(form.DAInput{{ $index }}) }"
                ng-required="da.Required && onPublishing" type="text" class="form-control" name="DAInput{{$index}}"
                ng-model="formData.MasterAttribute[da.AttributeId]" />

            		<div ng-if="isCheckboxInput(da.DataType)">
            			<div class="checkbox" ng-repeat="vmap in da.AttributeValueMaps">
              			<label>
              				<input type="checkbox"
                      ng-init="formData.MasterAttribute[da.AttributeId]._checkbox = true"
                      ng-model="formData.MasterAttribute[da.AttributeId][vmap.AttributeValueId]"/>
              				{{ vmap.AttributeValue.AttributeValueEn }}
              			</label>
            			</div>
            		</div>

            </div>
        </div>

    </div>
</div>
