<div class="form-section">
    <div class="form-section-header">
        <h2>Vital Information</h2>
    </div>
    <div class="form-section-content">
        <div nc-template="common/input/form-group-with-label" 
        nc-template-form="addProductForm.MasterVariant_ProductNameEn" nc-label="Product Name (English)"
        nc-template-options-path="addProductForm/MasterVariant_ProductNameEn">
            <input class="form-control width-field-large" name="MasterVariant_ProductNameEn" 
            ng-model="formData.MasterVariant.ProductNameEn"
            maxlength="300" ng-pattern="/^([^<>ก-๙])+$/" required />
        </div>

        <div nc-template="common/input/form-group-with-label" nc-label="Product Name (ไทย)" nc-template-form="addProductForm.MasterVariant_ProductNameTh"
        nc-template-options-path="addProductForm/MasterVariant_ProductNameTh">
            <input class="form-control width-field-large" name="MasterVariant_ProductNameTh" ng-model="formData.MasterVariant.ProductNameTh"
            ng-pattern="/^[^<>]+$/" maxlength="300" required />
        </div>

        <div nc-template="common/input/form-group-with-label" nc-label="SKU" nc-template-form="addProductForm.MasterVariant_Sku"
        nc-template-options-path="addProductForm/MasterVariant_Sku">
            <input class="form-control width-field-large" name="MasterVariant_Sku" ng-model="formData.MasterVariant.Sku" maxlength="300"
            ng-pattern="/^[^<>]+$/" />
        </div>


        <div nc-template="common/input/form-group-with-label" nc-label="UPC" nc-template-form="addProductForm.MasterVariant_Upc"
        nc-template-options-path="addProductForm/MasterVariant_Upc">
            <input class="form-control width-field-large" ng-pattern="/^[^<>]+$/" name="MasterVariant_Upc" maxlength="300" ng-model="formData.MasterVariant.Upc"
            />
        </div>

        <div ng-if="formData.MasterVariant.Pid">
            <div nc-template="common/input/form-group-with-label" nc-template-form="addProductForm.MasterVariant_Pid" nc-label="{{ (formData.Variants || []).length > 0 ? 'Group ID' : 'PID' }}"
            nc-template-options-path="addProductForm/MasterVariant_Pid">
                <input class="form-control width-field-large" name="MasterVariant_Pid" disabled ng-model="formData.MasterVariant.Pid" />
            </div>
        </div>

        <div class="form-group">
            <div class="width-label">
                <label class="control-label required">Brand Name</label>
            </div>
            <div class="width-field-normal">
                <div class="ah-select2-dropdown">
                    <ui-select ng-model="formData.Brand">
                        <ui-select-match>
                            <span ng-bind="$select.selected.BrandNameEn"></span>
                            <span ng-show="!$select.selected.BrandNameEn"><span class="color-grey"><i class="fa fa-search"></i> Search Brand</span></span>
                        </ui-select-match>
                        <ui-select-choices ui-disable-choice="item.disabled" refresh-delay="500" refresh="refresher.Brands($select.search)" repeat="item in (dataset.Brands)  | filter : $select.search  track by item.BrandId">
                            <span>{{ item.BrandNameEn }} </span>
                            <span ng-if="item.BrandNameTh">/ {{ item.BrandNameTh }}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
</div>