<div class="row" ng-if="formData.ProductId">
	<div class="col-xs-12">
		<div class="form-section">
			<div class="form-section-header">
				<h2>Overview</h2></div>
			<div class="form-section-content">
				<div class="container-fluid" style="margin: -15px">
					<table class="table">
						<thead>
							<th>Product Name</th>
							<th>{{ (formData.Variants || []).length == 0 ? 'PID' : 'Group ID' }}</th>
							<th>Shop Name / Shop ID</th>
							<th>Sale Price</th>
							<th>Info</th>
							<th>Image</th>
							<th>Status</th>
							<th>Live</th>
							<th>Visible</th>
						</thead>
						<tbody>
							<tr>
								<td>{{ formData.MasterVariant.ProductNameEn }}</td>
								<td>{{ formData.MasterVariant.Pid }}</td>
								<td>{{ formData.ShopName }} / {{ formData.ShopId }}</td>
								<td>{{ formData.MasterVariant.SalePrice | number: 2 }}</td>
								<td>
									<i ng-if="!formData.InfoFlag" class="fa fa-minus color-grey icon-size-18px"></i>
									<i ng-if="formData.InfoFlag" class="fa fa-check color-green icon-size-18px"></i>
								</td>
								<td>
									<i ng-if="!formData.ImageFlag" class="fa fa-minus color-grey icon-size-18px"></i>
									<i ng-if="formData.ImageFlag" class="fa fa-check color-green icon-size-18px"></i>
								</td>
								<td>
									<span class="{{ asStatus(formData.Status).color }}">
										<i class="fa {{ asStatus(formData.Status).icon }}"></i>
										{{ asStatus(formData.Status).name }}
									</span>
								</td>
								<td>
									<i class="fa fa-circle color-grey"></i>
								</td>
								<td>
									<a ng-click="formData.Visibility = !formData.Visibility" ng-class="{'fa fa-eye-slash color-grey eye-icon font-size-16' : !formData.Visibility, 'fa fa-eye color-dark-grey eye-icon font-size-16' : formData.Visibility}"></a>
								</td>
							</tr>
							<tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
