<div class="form-section">
    <div class="form-section-header">
        <h2>Detail</h2></div>
    <div class="form-section-content">

        <!-- select attribute set -->
        <div class="form-group ">
            <div class="width-label">
                <label class="control-label ">Attribute Set</label>
            </div>
            <div class="width-field-normal">
                <div class="ah-select2-dropdown">

                    <select ng-show="controlFlags.variation == 'enable'" class="form-control" disabled>
                        <option disabled>{{ formData.AttributeSet.AttributeSetNameEn }}</option>
                    </select>

                    <you-me display-by="AttributeSetNameEn" placeholder="Search Attribute Set" ng-show="controlFlags.variation != 'enable'" auto-clear-search="true"
                        group-by="_group" ng-model="formData.AttributeSet" refresh="refresher.AttributeSets" initial-choices="dataset.AttributeSets"
                        choices="dataset.CombinedAttributeSets"></you-me>

                </div>


            </div>
            <a class="like-text form-text" ng-if="formData.AttributeSet.AttributeSetId && controlFlags.variation != 'enable'" ng-click="formData.AttributeSet = {}">
                <i class="fa fa-minus-circle color-theme"></i>
            </a>
        </div>


        <pre>{{formData.MasterAttribute | json}}</pre>
        <!-- for each attribute in attribute set -->
        <div class="form-group" ng-repeat-start="amap in formData.AttributeSet.AttributeSetMaps">
            <div class="width-label">
                <label class="control-label" ng-class="{'required': amap.Attribute.Required}">
                    {{ amap.Attribute.DisplayNameEn }} (English)
                </label>
            </div>
            <div ng-class="{'width-field-normal': !isHtmlInput(amap.Attribute.DataType), 'width-field-xxl': isHtmlInput(amap.Attribute.DataType)}">

                <select ng-if="isListInput(amap.Attribute.DataType)" ng-required="amap.Attribute.Required && onPublishing" class="form-control"
                    ng-model="formData.MasterAttribute[amap.Attribute.AttributeId]" ng-class="{'has-error' : $root.isInvalid(form.AmapInput{{ $index }}) }"
                    name="AmapInput{{$index}}" ng-options="item as item.AttributeValue.AttributeValueEn for item in amap.Attribute.AttributeValueMaps track by item.AttributeValueId">
                    <option disabled value="" selected>- Select option -</option>
                </select>

                <div ng-if="isHtmlInput(amap.Attribute.DataType)">
                    <textarea ng-required="amap.Attribute.Required && onPublishing" ng-class="{'has-error' : $root.isInvalid(form.AmapInput{{ $index }}) }"
                        ng-model="formData.MasterAttribute[amap.Attribute.AttributeId]" name="AmapInput{{$index}}" class="form-control"
                        ng-ckeditor="ckOptions"></textarea>
                </div>

                <input ng-if="isFreeTextInput(amap.Attribute.DataType)" ng-class="{'has-error' : $root.isInvalid(form.AmapInput{{ $index }}) }"
                    ng-required="amap.Attribute.Required && onPublishing" type="text" class="form-control" name="AmapInput{{$index}}"
                    nc-default-value="''"
                    ng-model="formData.MasterAttribute[amap.Attribute.AttributeId].ValueEn" />

                <div ng-if="isCheckboxInput(amap.Attribute.DataType)">
                    <div class="checkbox" ng-repeat="vmap in amap.Attribute.AttributeValueMaps">
                        <label>
              				<input type="checkbox"
                      ng-init="formData.MasterAttribute[amap.Attribute.AttributeId]._checkbox = true"
                      ng-model="formData.MasterAttribute[amap.Attribute.AttributeId][vmap.AttributeValueId]"/>
              				{{ vmap.AttributeValue.AttributeValueEn }}
              			</label>
                    </div>
                </div>

            </div>
        </div>
        
        <!-- additional +1 iteration for Freetext -->
        <div class="form-group" ng-if="isFreeTextInput(amap.Attribute.DataType)" ng-repeat-end>
              <div class="width-label">
                <label class="control-label" ng-class="{'required': amap.Attribute.Required}">
                    {{ amap.Attribute.DisplayNameEn }} (ไทย)
                </label>
            </div>
             <div class="width-field-normal">
                <input ng-if="isFreeTextInput(amap.Attribute.DataType)" 
                    ng-class="{'has-error' : $root.isInvalid(form.AmapInput{{ $index }}) }"
                    nc-default-value="''"
                    ng-required="amap.Attribute.Required && onPublishing" 
                    type="text" class="form-control" name="AmapInput{{$index}}"
                    ng-model="formData.MasterAttribute[amap.Attribute.AttributeId].ValueTh" />
            </div>
        </div>

    </div>
</div>