<div class="form-section">
    <div class="form-section-header">
        <h2>Default Attributes</h2></div>
    <div class="form-section-content">
        <!-- for each attribute in attribute set -->
        <div class="form-group" ng-repeat-start="da in defaultAttributes" ng-if="isVisibleTo(da.VisibleTo)">
            <div class="width-label">
                <label class="control-label" ng-class="{'required': da.Required}">
                    {{ da.DisplayNameEn || da.AttributeNameEn }} 
                </label>
            </div>
            <div ng-class="{'width-field-normal': !isHtmlInput(da.DataType), 'width-field-xxl': isHtmlInput(da.DataType)}">

                <select ng-if="isListInput(da.DataType)" ng-required="da.Required && onPublishing" class="form-control" ng-disabled="xspermit(35)"
                ng-model="formData.MasterAttribute[da.AttributeId]" ng-class="{'has-error' : $root.isInvalid(form.DAInput{{ $index }}) }"
                name="DAInput{{$index}}" ng-options="item as item.AttributeValue.AttributeValueEn for item in da.AttributeValueMaps track by item.AttributeValueId">
                    <option disabled value="" selected>- Select option -</option> {{ da.AttributeId }}
                </select>

                <div ng-if="isHtmlInput(da.DataType)">
                    <textarea ng-required="da.Required && onPublishing" ng-class="{'has-error' : $root.isInvalid(form.DAInput{{ $index }}) }" ng-disabled="xspermit(35)"
                        ng-model="formData.MasterAttribute[da.AttributeId]" name="DAInput{{$index}}" class="form-control"
                        ng-ckeditor="ckOptions"></textarea>
                </div>

                <input ng-if="isFreeTextInput(da.DataType)" ng-class="{'has-error' : $root.isInvalid(form.DAInput{{ $index }}) }"
                ng-required="da.Required && onPublishing" type="text" class="form-control" name="DAInput{{$index}}" ng-disabled="xspermit(35)"
                ng-model="formData.MasterAttribute[da.AttributeId].ValueEn"  />
                
            		<div ng-if="isCheckboxInput(da.DataType)">
            			<div class="checkbox" ng-repeat="vmap in da.AttributeValueMaps">
              			<label>
              				<input type="checkbox" ng-disabled="xspermit(35)" id="{{ vmap.AttributeValue.AttributeValueEn }}"
                        ng-init="formData.MasterAttribute[da.AttributeId]._checkbox = true;formData.MasterAttribute[da.AttributeId][vmap.AttributeValueId] = true;"
                        ng-model="formData.MasterAttribute[da.AttributeId][vmap.AttributeValueId]" />
              				{{ vmap.AttributeValue.AttributeValueEn }}
              			</label>
            			</div>
            		</div>

            </div>
        </div>
        
        <div class="form-group" ng-repeat-end ng-if="isVisibleTo(da.VisibleTo) && isFreeTextInput(da.DataType)">
            <div class="width-label">
                <label class="control-label" ng-class="{'required': da.Required}">
                    {{ da.DisplayNameTh || da.AttributeNameTh || ((da.DisplayNameEn || da.AttributeNameEn)  + " (ไทย)") }}
                </label>
            </div>
            <div ng-class="{'width-field-normal': !isHtmlInput(da.DataType), 'width-field-xxl': isHtmlInput(da.DataType)}">

                <input ng-if="isFreeTextInput(da.DataType)" ng-class="{'has-error' : $root.isInvalid(form.DAInput{{ $index }}) }"
                ng-required="da.Required && onPublishing" type="text" class="form-control" name="DAInput{{$index}}" ng-disabled="xspermit(35)"
                ng-model="formData.MasterAttribute[da.AttributeId].ValueTh"  />

            </div>
        </div>

    </div>
</div>

