<div>
    <nc-image-block options="{height: '150px', width: '150px'}" name="Images" nc-model="variantPtr.Images"
    title="Product Images" uploader="uploader" on-fail="onImageUploadFail" size="10">
    <div>Choose images that clearly  represent your product. Images must meet the following requirements:</div>
    <ul class="margin-top-10">
      <li>Image width or height must be between at least <strong>1500px</strong> but not larger than <strong>2000px</strong></li>
      <li>Image portion must be in square format.</li>
      <li>File size must not be larger than 5MB and.</li>
      <li>File format must be JPG or PNG.</li>
    </ul>
    </nc-image-block>

    <div class="form-section" ng-show="variantPtr.Images.length > 0">
        <div class="form-section-header">
            Embed Video
        </div>
        <div class="form-section-content">
            <div ng-repeat="i in variantPtr.Images">
                <div nc-template="common/input/form-group-with-label"
                nc-label="Video Link {{$index + 1}}"
                nc-template-form="form['VideoLinks' + $index]" nc-template-options-path="addProductForm/VideoLink">
                    <input class="form-control width-field-normal"
                    name="VideoLinks{{$index}}" type="url"
		                  ng-init="initializeVideoLink($index)"
                    maxlength="500" ng-model="variantPtr.VideoLinks[$index].Url"/>
                </div>
            </div>

        </div>
    </div>
</div>
