<table class="table variation-table">
  <thead>
    <tr>
      <th class="column-variant">Variant</th>
      <th class="column-pid" ng-if="formData.Variants.length > 0 && formData.Variants[0].Pid">PID</th>
      <th class="column-sku">SKU</th>
      <th class="column-sale-price">
        Sale Price <span class="color-red">*</span>
      </th>
      <th class="column-price">Original Price</th>
      <th class="column-inventory">Inventory</th>
      <th class="column-detail">More Detail</th>
      <th class="column-visibility">Visibility</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="pair in formData.Variants track by $index">
      <td class="column-text-ellipsis" ng-class="{'opacity-50': !pair.Visibility}">
        {{ pair.text }}
      </td>
      <td ng-if="formData.Variants.length > 0 && formData.Variants[0].Pid">{{pair.Pid }}</td>
      <td ng-template="common/input/text-td" ng-template-options="{
        'error' : {
        'messages': {
        'pattern': 'Special characters are not allowed'
        },
        'show': $root.isInvalid(addProductForm['pair_Sku' + $index]),
        'conditions' : addProductForm['pair_Sku' + $index].$error
        }
        }">
        <input type="text" ng-disabled='!pair.Visibility' class="form-control" name="pair_Sku{{ $index }}" maxlength="300" ng-pattern="/^[^<>]+$/"
        ng-class="{ 'opacity-50': !pair.Visibility, 'has-error': $root.isInvalid(addProductForm.pair_Sku{{$index}}) }"
        ng-model="pair.Sku"/>
      </td>
      <td ng-template="common/input/text-td" ng-template-options="{
        'error' : {
        'messages': {
        'pattern': 'Only numbers and decimals (up to 2 digits) allowed'
        },
        'show': $root.isInvalid(addProductForm['pair_SalePrice' + $index]),
        'conditions' : addProductForm['pair_SalePrice' + $index].$error
        }
        }">
        <input type="number" ng-class="{ 'opacity-50': !pair.Visibility, 'has-error': $root.isInvalid(addProductForm.pair_SalePrice{{$index}}) }"
        ng-model="pair.SalePrice" name="pair_SalePrice{{ $index }}" ng-disabled='!pair.Visibility' required class="form-control" />
      </td>
      <td ng-template="common/input/text-td" ng-template-options="{
        'error' : {
        'messages': {
        'pattern': 'Only numbers and decimals (up to 2 digits) allowed'
        },
        'show': $root.isInvalid(addProductForm['pair_OriginalPrice' + $index]),
        'conditions' : addProductForm['pair_OriginalPrice' + $index].$error
        }
        }">
        <input type="number" ng-class="{ 'opacity-50': !pair.Visibility, 'has-error': $root.isInvalid(addProductForm.pair_OriginalPrice{{$index}}) }"
        name="pair_OriginalPrice{{$index}}" ng-model="pair.OriginalPrice"
        ng-disabled='!pair.Visibility' class="form-control" />
      </td>
      <td ng-template="common/input/text-td" ng-template-options="{
        'error' : {
        'messages': {
        'pattern': 'Only numbers allowed'
        },
        'show': $root.isInvalid(addProductForm['pair_Quantity' + $index]),
        'conditions' : addProductForm['pair_Quantity' + $index].$error
        }
        }">
        <input type="number" ng-model="pair.Quantity" maxlength="5" ng-class="{ 'opacity-50': !pair.Visibility, 'has-error': $root.isInvalid(addProductForm.pair_Quantity{{$index}}) }"
        ng-disabled='!pair.Visibility' ng-pattern="/^[0-9]+$/" name="pair_Quantity{{$index}}"
        class="form-control" />
      </td>
      <!--$emit('openPairModal', pair, formData.Variants, $index)-->
      <td><a class="btn btn-white btn-width-xl" ng-disabled='!pair.Visibility'
      ng-click="openVariantDetail(pair, formData.Variants, $index)">More Detail</a></td>
      <td>
        <a class="btn btn-white" ng-click='pair.Visibility = !pair.Visibility'>
          <span ng-if='pair.Visibility'>Hide</span>
          <span ng-if='!pair.Visibility'>Show</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>