<div id="add-product-variation-tab-content">
    <div ap-component="ap/inner-tab-breadcrumb" form-data="formData" breadcrumb="breadcrumb"></div>
    <div class="row" ng-if="controlFlags.variation != 'enable'">
        <div class="col-xs-12">
            <div class="form-section">
                <div class="form-section-header">
                    <h2>Variation Option</h2></div>
                <div class="form-section-content">
                    <div class="form-group ">
                        <p class="form-control-static">
                            Variation will allow you to create a group of products with different attributes such as size and color. Once you enable
                            variation, information from other tabs will be copied into variants that you will create, and
                            variation cannot be disabled.
                            <strong>Please select attribute set before enabling variation.</strong>
                        </p>
                        <button class="btn btn-width-xxl btn-blue margin-top-20" ng-disabled="!formData.AttributeSet.AttributeSetId" ng-click="enableVariation()">Enable Variation</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="controlFlags.variation == 'enable'">
        <div class="col-xs-12">

            <ap-variation-option form-data="formData" control-flags="controlFlags"
                generator="variationFactorIndices" dataset="dataset">
            </ap-variation-option>

            <div ng-show="formData.Variants.length > 0" ng-include="'ap/section-variant'"></div>
            <!-- end .form-section -->
        </div>
        <!-- end .col-xs-12 -->
    </div>
    <!-- end .row -->
</div>
<!-- end #add-product-variation-tab-content -->
