<div>
    <div ap-component="ap/inner-tab-breadcrumb"></div>
    <div ap-component="ap/section-overview"></div>

    <div class="row">
        <div class="col-xs-12">
            <div ap-component="ap/section-vital-information"></div>
            <div ap-component="ap/section-price"></div>
            <div ap-component="ap/section-description"></div>
            <div ap-component="ap/section-detail"></div>
            <div ap-component="ap/section-keywords"></div>
            <div ap-component="ap/section-inventory"></div>
            <div ap-component="ap/section-shipping"></div>
        </div>
    </div>
</div>