<div>
    <div ap-component="ap/inner-tab-breadcrumb" form-data="formData" breadcrumb="breadcrumb"></div>
    <div ap-component="ap/section-overview" form-data="formData.overview"></div>

    <div class="row">
        <div class="col-xs-12">
            <div ap-component="ap/section-vital-information" form-data="formData" refresher="refresher" dataset="dataset"></div>
            <div ap-component="ap/section-price" form-data="formData"></div>
            <div ap-component="ap/section-description" form-data="formData"></div>
            <div ap-component="ap/section-detail" form-data="formData" control-flags="controlFlags" dataset="dataset"></div>
            <div ap-component="ap/section-keywords" form-data="formData"></div>
            <div ap-component="ap/section-inventory" form-data="formData"></div>
            <div ap-component="ap/section-shipping" form-data="formData"></div>
        </div>
    </div>
</div>