<div id="add-product-more-option-tab-content">
    <div ap-component="ap/inner-tab-breadcrumb" form-data="formData" breadcrumb="breadcrumb"></div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-section">
                <div class="form-section-header">
                    <h2>Relationship</h2></div>
                <div class="form-section-content">

                    <div nc-template="common/input/form-group-with-label" nc-label="Related Products" nc-template-form="form.RelatedProducts"
                    nc-template-options-path="addProductForm/RelatedProducts">
                        <ui-select ng-model="formDataPtr.RelatedProducts" name="RelatedProducts" nc-tag-validator nc-max-tag-count="10" multiple>
                            <ui-select-match placeholder="Input Product Name">
                                <span>{{ $item.ProductNameEn }}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in (dataset.RelatedProducts | exclude: formDataPtr.RelatedProducts : 'ProductId' | exclude: [formData] : 'ProductId' ) track by item.Pid"
                            refresh="refresher.RelatedProducts($select.search)" refresh-delay="1">
                                {{ item.ProductNameEn }}
                            </ui-select-choices>
                        </ui-select>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div ap-component="ap/section-seo"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-section">
                <div class="form-section-header">
                    <h2>More Details</h2></div>
                <div class="form-section-content">

                    <div class="form-group">
                        <div class="width-label">
                            <label class="control-label">Effective On</label>
                        </div>
                        <div class="width-field-normal">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <input readonly style="background-color:white" type="text" ng-class="{'has-error': formDataPtr.ExpireDate && formDataPtr.ExpireDate <= formDataPtr.EffectiveDate }"
                                    placeholder="Select date and time when product will go online" class="input-icon-calendar form-control"
                                    value="{{ formDataPtr.EffectiveDate | date: 'dd/MM/yy HH:mm' }}" />
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="formDataPtr.EffectiveDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView: 'hour' }"
                                    />
                                </ul>
                            </div>
                            <span class="help-block"></span>
                        </div>
                        <div class="width-field-tooltip no-padding-left">
                            <i class="fa fa-2x fa-question-circle color-grey" tooltip-trigger="mouseenter" uib-tooltip="Date when your product will go online"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="width-label">
                            <label class="control-label">Expire On</label>
                        </div>
                        <div class="width-field-normal">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <input readonly style="background-color:white" type="text" placeholder="Select date and time when product will go offline"
                                    class="input-icon-calendar form-control" name="ExpireDate" ng-class="{'has-error': formDataPtr.ExpireDate && formDataPtr.ExpireDate <= formDataPtr.EffectiveDate }"
                                    value="{{ formDataPtr.ExpireDate | date: 'dd/MM/yy HH:mm' }}">
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="formDataPtr.ExpireDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown3', minView: 'hour' }"
                                    />
                                </ul>
                            </div>
                            <div class="width-field-large">
                                <span class="help-block color-red" ng-if="formDataPtr.ExpireDate && formDataPtr.ExpireDate <= formDataPtr.EffectiveDate">
								     <span>Effective date/time must come before expire date/time</span>
                                </span>
                            </div>

                        </div>
                        <div class="width-field-tooltip no-padding-left">
                            <i class="fa fa-2x fa-question-circle color-grey" tooltip-trigger="mouseenter" uib-tooltip="Date when your product will go offline"></i>
                        </div>
                    </div>

                    <div nc-template="common/input/form-group-with-label" nc-template-options-path="addProductForm/TheOneCardEarn" nc-template-form="form.TheOneCardEarn"
                    nc-label="The One Card earn">
                        <input type="text" disabled class="form-control" ng-restrict="[0-9]*" name="TheOneCardEarn" ng-model="formDataPtr.TheOneCardEarn"
                        />
                    </div>

                    <div nc-template="common/input/form-group-with-label" nc-template-options-path="addProductForm/Nothing" nc-template-form="form.GiftWrap"
                    nc-label="Gift Wrap">
                        <select class="form-control" name="formDataPtr.GiftWrap">
                            <option>No</option>
                            <option>Yes</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="width-label">
                            <label class="control-label">Control Flag</label>
                        </div>
                        <div class="width-field-normal">
                            <div class="checkbox multiple-checkbox">

                                <label>
                                    <input type="checkbox" ng-model="formDataPtr.ControlFlags.Flag1">Flag 1</label>
                                <label>
                                    <input type="checkbox" ng-model="formDataPtr.ControlFlags.Flag2">Flag 2</label>
                                <label>
                                    <input type="checkbox" ng-model="formDataPtr.ControlFlags.Flag3">Flag 3</label>

                            </div>
                        </div>
                    </div>

                    <div nc-template="common/input/form-group-with-label" nc-template-options-path="addProductForm/Remark" nc-template-form="form.Remark"
                    nc-label="Remark">
                        <textarea class="form-control" ng-pattern="/^[^<>]+$/" maxlength="2000" name="Remark" ng-model="formDataPtr.Remark">
                        </textarea>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
            <div class="col-xs-12">
                <div class="form-section">
                    <div class="form-section-header">
                        <h2>Approve Versions</h2></div>
                    <div class="form-section-content">
                        <div class="table-wrapper">
                            <table class="table" id="add-product-approve-versions">
                                <thead>
                                    <tr>
                                        <th class="thead-approved-date">Approved Date</th>
                                        <th class="thead-submitted-date">Submitted Date</th>
                                        <th class="thead-submitted-by">Submitted By</th>
                                        <th class="thead-actions">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>14/10/2015 at 13:14:50</td>
                                        <td>10/10/2015 at 13:14:50</td>
                                        <td>Andrea Bolan</td>
                                        <td>
                                            <button class="btn btn-white">View</button>
                                            <button class="btn btn-white">Restore</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>14/10/2015 at 13:14:50</td>
                                        <td>10/10/2015 at 13:14:50</td>
                                        <td>John Dara</td>
                                        <td>
                                            <button class="btn btn-white">View</button>
                                            <button class="btn btn-white">Restore</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
</div>