<div id="add-product-images-tab-content">
    <div ap-component="ap/inner-tab-breadcrumb"></div>

    <div class="row">
        <div class="col-xs-12">
            <nc-alert nc-model="image_alert"></nc-alert>
            <div ap-component="ap/section-image-video"></div>
        </div>
    </div>

    <!-- modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="product-image-zoom">
        <div class="modal-dialog modal-product-image">
            <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="" />
        </div>
    </div>
</div>