<nc-alert nc-model="alert"></nc-alert>
<div class="modal-header">
	<span class="float-right">
		<a class="link-btn-plain" ng-click="$dismiss()">Cancel</a>
		<button class="btn btn-blue btn-width-xl" ng-click="save()">Save</button>
	</span>
	<h3 class="modal-title">Global Category Detail</h3>
</div>
<div class="modal-body margin-top-20" ng-cloak>
	<form ng-show="!saving && !loading" class="ah-form" name="form" novalidate>
		<div class="row">
			<div class="col-xs-12">
				<!-- Info -->
				<div class="form-section">
					<div class="form-section-header">
						<h2>Global Category Information</h2>
					</div>
					<div class="form-section-content modal-custom">
						<div nc-template="common/input/form-group-with-label"
							nc-template-form="form.NameEn"
							nc-template-options-path="addCategoryForm/NameEn"
							nc-label="Category Name (English)">
						<input
						 class="form-control"
						 name="NameEn"
						 ng-model="formData.NameEn"
						 ng-pattern="/^[^ก-๙]+$/"
						 maxlength="100"
						 required />
		                </div>

						<div nc-template="common/input/form-group-with-label"
							nc-template-form="form.NameTh"
							nc-template-options-path="addCategoryForm/NameTh"
							nc-label="Category Name (ไทย)">
						<input
						 class="form-control"
						 name="NameTh"
						 ng-model="formData.NameTh"
						 maxlength="100"
						 required />
						</div>
	                    <div nc-template="common/input/form-group-with-label"
							nc-template-form="form.UrlKeyEn"
							nc-template-options-path="addCategoryForm/UrlKeyEn"
							nc-label="URL (English)">
						  <input
	                        class="form-control"
	                        name="UrlKeyEn"
	                        ng-model="formData.UrlKeyEn"
	                        ng-pattern="/^[A-Za-z0-9_\-]+$/"
	                        maxlength="300"
	                        />
	                    </div>
						<div nc-template="common/input/form-group-with-label"
							nc-template-form="form.Commission"
							nc-template-options-path="addCategoryForm/Commission"
							nc-label="Commission (%)">
							<input
							class="form-control"
							name="Commission"
							ng-model="formData.Commission"
							ng-pattern="/^[\w]+(\.\w{0,2})?$/"
							ng-pattern-restrict="^[0-9]*(\.[0-9]*)?$"
							maxlength="20"
							ng-maxnumber="100",
							ng-minnumber="0"
							required
							/>
						</div>
					</div>
				</div>
				<!-- Attr set -->
				<div class="form-section">
					<div class="form-section-header">
						<h2>Map Attribute Set</h2>
					</div>
					<div class="form-section-content modal-custom">
						<div nc-tradable-select nc-test="lockAttributeset" nc-model="formData.AttributeSets" nc-select-options="attributeSetOptions" column-header="Attribute Set in this Category" search-placeholder="Search Attribute Set" nc-options="{ 'map' : { 'text': 'AttributeSetNameEn', 'value' : 'AttributeSetId' } }" on-search="loadAttributeSets"></div>
						<div class="row col-xs-12">
		                  <p style="margin-left: 30px; margin-top:15px">* Changing attribute set mapping may affect products under this category</p>
		                </div>
					</div>
				</div>
				<!-- Banner -->
		        <nc-image-banner name="CategoryBannerEn" nc-model="formData.CategoryBannerEn" title="Banner Upload (English)" uploader="bannerUploader" on-fail="uploadBannerFail" size="8"></nc-image-banner>
		        <nc-image-banner name="CategoryBannerTh" nc-model="formData.CategoryBannerTh" title="Banner Upload (ไทย)" uploader="bannerUploader" on-fail="uploadBannerFail" size="8"></nc-image-banner>
		        <!-- Description -->
		        <div class="form-section">
		          <div class="form-section-header">
		              <h2>Description</h2></div>
		          <div class="form-section-content">
		              <div class="two-columns">
		                  <div class="row">
		                      <div nc-template="common/input/div-with-label" nc-label="Description (English)" nc-template-options-path="genericForm/DescriptionFull"
		                      nc-template-form="form.DescriptionFullEn">
		                          <textarea ng-ckeditor="$root.ckOptions" class="form-control" maxlength="500" name="DescriptionFullEn" ng-model="formData.DescriptionFullEn">
		                          </textarea>
		                      </div>
		                      <div nc-template="common/input/div-with-label" nc-label="Description (ไทย)" nc-template-options-path="genericForm/DescriptionFull"
		                      nc-template-form="form.DescriptionFullTh">
		                          <textarea ng-ckeditor="$root.ckOptions" class="form-control" maxlength="500" name="DescriptionFullTh" ng-model="formData.DescriptionFullTh">
		                          </textarea>
		                      </div>

		                  </div>
		                  <div class="row margin-top-30">
		                      <div nc-template="common/input/div-with-label" nc-label="Short Description (English)" nc-template-options-path="genericForm/DescriptionShortEn"
		                      nc-template-form="form.DescriptionShortEn">
		                          <textarea ng-pattern="/^[^<>ก-๙]+$/" class="form-control" maxlength="500" name="DescriptionShortEn" ng-model="formData.DescriptionShortEn">
		                          </textarea>
		                      </div>
		                      <div nc-template="common/input/div-with-label" nc-label="Short Description (ไทย)" nc-template-options-path="genericForm/DescriptionShortTh"
		                      nc-template-form="form.DescriptionShortTh">
		                          <textarea ng-pattern="/^[^<>]+$/" class="form-control" maxlength="500" name="DescriptionShortTh" ng-model="formData.DescriptionShortTh">
		                          </textarea>
		                      </div>
		                  </div>
		              </div>
		          </div>
		        </div>
		        <!-- Feature product -->
		        <div class="form-section">
		          <div class="form-section-header"><h2>Featured Products</h2></div>
		          <div class="form-section-content">
		            <div ng-if="availableProducts == 0  || id == 0">
		              <div nc-template="common/input/form-group-with-label"
		                nc-label="Featured Products">
		                <span class="form-text">will be available after adding product into this category</span>
		              </div>
		            </div>
		            <div ng-if="availableProducts > 0">
		              <div nc-template="common/input/form-group-with-label"
		                nc-template-options-path="genericForm/FeatureTitle"
		                nc-label="Featured Product Title">
		                <input type="text" class="form-control" ng-model="formData.FeatureTitle"/>
		              </div>
		              <div nc-template="common/input/form-group-with-label"
		                nc-label=""><input type="checkbox" ng-model="formData.TitleShowcase"/> Title = Showcase
		              </div>
		              <div nc-template="common/input/form-group-with-label"
		              	nc-template-form="form.FeatureProducts"
		                nc-template-options-path="genericForm/FeatureProducts"
		                nc-label="Featured Product">
		                <ui-select name="FeatureProducts" multiple ng-model="formData.FeatureProducts" nc-tag-validator nc-max-tag-count="20">
		                    <ui-select-match placeholder="Search for Product name or PID">
		                        {{ $item.ProductNameEn }}
		                    </ui-select-match>
		                    <ui-select-choices placeholder="Search result" refresh="getFeatureProduct($select.search)" refresh-delay="150" repeat="i in products">
		                        {{ i.ProductNameEn }}
		                    </ui-select-choices>
		                </ui-select>
		              </div>
		            </div>
		          </div>
		        </div>
		        <!-- Visibility -->
	            <div class="form-section">
	                <div class="form-section-header"><h2>Category Visibility</h2></div>
	                <div class="form-section-content modal-custom">
	                    <div ng-template="common/input/multiline-radio"
	                    	ng-template-options="{ 'label' : 'Visibility' }">
	                    	<label ng-repeat="choice in statusOptions"><input type="radio" ng-model="formData.Visibility" ng-value="choice.value"/>{{choice.name}}</label>
	                	</div>
	                </div>
	            </div>
			</div> <!-- end .col-xs-12 -->
	        <div class="col-xs-12 text-align-left" style="margin-top:-15px; margin-bottom:0px;">
	          <span class="color-red"><i class="fa fa-asterisk"></i></span> - Required Field
	        </div>
			<div class="col-xs-12">
				<span class="float-right">
					<a class="link-btn-plain" ng-click="$dismiss()">Cancel</a>
					<button class="btn btn-blue btn-width-xl" ng-click="save()">Save</button>
				</span>
			</div> <!-- end .col-xs-12 -->
		</div> <!-- end .row -->
	</form>
	<div ng-show="saving" nc-loading="Saving.."></div>
	<div ng-show="loading" nc-loading="Loading.."></div>
</div> <!-- end .modal-body -->
