<div ui-tree-handle class="tree-node tree-node-content">
	<a class="btn-collapse" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
		<span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
	</a>
	<a ng-click="open(node)" data-nodrag>{{node.NameEn}}</a>
	<span class="pull-right category-column category-action-gear" data-nodrag>
		<nc-action nc-model="$nodeScope" nc-action-fn="actions"></nc-action>
	</span>
	<span class="pull-right category-column" data-nodrag>
		<nc-eye nc-model="node.Visibility" nc-eye-on-toggle="toggleVisibility(node)"></nc-eye>
	</span>
	<span class="pull-right category-column">{{node.AttributeSetCount}}</span>
	<span class="pull-right category-column">{{node.ProductCount}}</span>
	<span class="pull-right category-column">{{node.CategoryId}}</span>
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
	<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'global_category/nodes'">
	</li>
</ol>
