<div class="row" ng-show="exportAsyncDelegate.active">
    <div class="col-xs-12">
        <div class="form-section">
            <div class="form-section-header">
                <h2>Export Result</h2></div>
            <div class="form-section-content">
                <div class="table-wrapper">
                    <table class="table" id="add-product-approve-versions">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th class="width_200">Request On</th>
                                <th class="width_200">Finish On</th>
                                <th class="export-action-column">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-if="exportAsyncDelegate.progress > 0 && exportAsyncDelegate.progress < 100">
                                    <strong class="color-green">{{ exportAsyncDelegate.progress | number: 2 }} %</strong>
                                </td>
                                <td ng-if="exportAsyncDelegate.progress >= 100"><strong class="color-green">Completed</strong></td>
                                <td ng-if="exportAsyncDelegate.progress == 0"><strong class="color-yellow">Preparing..</strong></td>
                                <td>{{ exportAsyncDelegate.requestDate | datetimeTh }}</td>
                                <td ng-if="exportAsyncDelegate.progress >= 100">{{ exportAsyncDelegate.endDate | datetimeTh }}</td>
                                <td ng-if="exportAsyncDelegate.progress < 100">-</td>
                                <td>
                                    <button type="button" class="btn btn-white btn-width-xl" ng-hide="exportAsyncDelegate.progress >= 100" ng-click="abortExport()">Cancel</button>
                                    <button type="button" class="btn btn-blue btn-width-xl" ng-click="downloadFile()" ng-class="{ 'disabled' : exportAsyncDelegate.progress < 100 }"
                                        ng-hide="exportAsyncDelegate.progress < 100">Download</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
