<div class="modal-header no-border">
	<button type="button" class="close" ng-click="$dismiss()"><span class="padding-left-15" aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body confirmation-modal no-margin">
	<div class="row">
		<div class="col-xs-12 margin-bottom-30">
			<h2 class="font-size-20 text-centerx text-normal margin-bottom-20">Importing</h2>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ file.isUploaded ? '100' : file.progress }}%;">
			    <span class="sr-only">{{file.progress}}% Complete</span>
			  </div>
			</div>
			<div ng-show="!file.isUploaded && file.progress == 100" nc-loading-small="Waiting for server..."></div>
		</div>
	</div> <!-- end .row -->
</div> <!-- end .modal-body -->