<nc-alert nc-model="alert"></nc-alert>
<div class="modal-header no-border">
	<button type="button" class="close" aria-label="Close" ng-click="$dismiss()"><span class="padding-left-15" aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body confirmation-modal no-margin">
	<div class="row">
		<div class="col-xs-12 margin-bottom-30">
			<h2 class="font-size-20 text-centerx text-normal margin-bottom-20">Add Tag</h2>
			<div>
				<ui-select name="Tags" ng-model="model.tags" tagging-label="" tagging-tokens="ENTER" multiple tagging nc-tag-validator nc-max-tag-length="30">
					<ui-select-match placeholder="Enter to separate">{{$item}}</ui-select-match>
					<ui-select-choices repeat="item in []">{{item}}</ui-select-choices>
				</ui-select>
			</div>
			<div>
				<span class="help-block" ng-if="isInvalid(form.Tags) && form.Tags.$error.maxtaglength">Tag must contain 30 characters or less</span>
			</div>
		</div>
		<div class="confirmation-action no-margin">
			<button type="button" class="btn btn-white" ng-click="$dismiss()">Cancel</button>
			<button type="button" class="btn btn-blue" ng-click="close()">Confirm</button>
		</div> <!-- end .col-xs-12 -->
	</div> <!-- end .row -->
</div> <!-- end .modal-body -->