<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Review Detail</h3>
</div>
<div class="modal-body">
  <form class="ah-form margin-top-20">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-section">
          <div class="form-section-header"><h2>Review Detail</h2></div>
          <div class="form-section-content modal-custom">
            <div nc-template="common/input/form-group-with-label"
              nc-label="Date & Time :">
              <p class="form-control-static">{{UpdatedDt | dateTh}} at {{UpdatedDt | timeTh}}</p>
            </div>
            <div nc-template="common/input/form-group-with-label"
              nc-label="Customer :">
              <p class="form-control-static">{{Customer}}</p>
            </div>
            <div nc-template="common/input/form-group-with-label"
              nc-label="Comment :">
              <p class="form-control-static">{{Comment}}</p>
            </div>
          </div>
        </div>
        <div class="form-section">
          <div class="form-section-header"><h2>Product Information</h2></div>
          <div class="form-section-content modal-custom">
            <div nc-template="common/input/form-group-with-label"
              nc-label="PID :">
              <p class="form-control-static">{{Pid}}</p>
            </div>
            <div nc-template="common/input/form-group-with-label"
              nc-label="Product Name (English) :">
              <p class="form-control-static">{{ProductNameEn}}</p>
            </div>
            <div nc-template="common/input/form-group-with-label"
              nc-label="Product Name (ไทย) :">
              <p class="form-control-static">{{ProductNameTh}}</p>
            </div>
            <div nc-template="common/input/form-group-with-label"
              nc-label="Brand :">
              <p class="form-control-static">{{BrandNameEn}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
