/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

/*.onboarding_wrapper .welcome_text_big{
   color: #2a2ab5 !important;
 }*/

.overview-table > tbody{
   border: none !important;
 }

.overview-table > tbody > tr > td{
  border: none !important;
}
