<div class="row margin-top-30" ng-show="open">
	<div class="col-xs-12">
		<div class="form-section">
			<div class="form-section-header"><h2>Advance Search</h2></div>
			<div class="form-section-content">
				<form name="form" class="ah-form" novalidate>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form.ProductName" nc-label="Product Name" nc-template-options-path="searchForm/ProductName">
		                    <input class="form-control" name="ProductName" ng-pattern-restrict="^[^<>]*$" maxlength="255" ng-model="formData.ProductName"/>
						</div>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form.Pids" nc-label="PID" nc-template-options-path="searchForm/Pid">
							    <ui-select ng-model="formData.Pids" name="Pids" nc-tag-validator tagging tagging-label="" multiple nc-tag-field>
	                                <ui-select-match ng-pattern-restrict="^[0-9]*$" maxlength="7">
	                                    {{$item}}
	                                </ui-select-match>
	                                <ui-select-choices repeat="item in options.Pids">{{item}}
	                                </ui-select-choices>
	                            </ui-select>
						</div>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form.Skus" nc-label="SKU" nc-template-options-path="searchForm/Sku">
							    <ui-select ng-model="formData.Skus" name="Skus" nc-tag-validator tagging tagging-label="" multiple nc-tag-field>
	                                <ui-select-match ng-pattern-restrict="^[^<>]*$" maxlength="255">
	                                    {{$item}}
	                                </ui-select-match>
	                                <ui-select-choices repeat="item in options.Skus">
	                                	{{item}}
	                                </ui-select-choices>
	                            </ui-select>
						</div>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form.Brands" nc-label="Brand Name" nc-template-options-path="searchForm/Brands">
							    <ui-select ng-model="formData.Brands" name="Brands" nc-tag-validator multiple tagging-tokens=",|ENTER" tagging-label="" nc-tag-field>
	                                <ui-select-match ng-pattern-restrict="^[^<>]*$" maxlength="255">
	                                    {{$item.BrandNameEn}}
	                                </ui-select-match>
	                                <ui-select-choices repeat="item in options.Brands" refresh="options.refreshBrands($select.search)" refresh-delay="100">
	                                    {{item.BrandNameEn}}
	                                </ui-select-choices>
	                            </ui-select>
						</div>
						<div ng-show="options.Admin"
							nc-template="common/input/form-group-with-label" 
							nc-template-form="form.Shop" 
							nc-label="Shop Name" 
							nc-template-options-path="searchForm/Shops">
							    <ui-select ng-model="formData.Shops" name="Shops" nc-tag-validator multiple tagging-tokens=",|ENTER" tagging-label="" nc-tag-field>
	                                <ui-select-match maxlength="255">
	                                    {{$item.ShopNameEn}}
	                                </ui-select-match>
	                                <ui-select-choices repeat="item in options.Shops" refresh="options.refreshShops($select.search)" refresh-delay="100">
	                                    {{item.ShopNameEn}}
	                                </ui-select-choices>
	                            </ui-select>
						</div>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form.GlobalCategories" nc-label="Global Category Name" nc-template-options-path="searchForm/GlobalCategories">
							<nc-breadcrumb-select name="GlobalCategories" nc-model="formData.GlobalCategories" nc-breadcrumb-select-tree="options.GlobalCategories"></nc-breadcrumb-select>
						</div>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form.LocalCategories" nc-label="Local Category Name" nc-template-options-path="searchForm/LocalCategories" ng-show="!options.Admin">
							<nc-breadcrumb-select name="LocalCategories" nc-model="formData.LocalCategories" nc-breadcrumb-select-tree="options.LocalCategories"></nc-breadcrumb-select>
						</div>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form.Tags" nc-label="Search Tag" nc-template-options-path="searchForm/Tags" class="ui-select-dropdown-hide" >
							    <ui-select ng-model="formData.Tags" name="Tags" nc-tag-validator tagging tagging-label="" multiple nc-tag-field nc-max-tag-count="20" nc-max-tag-length="30">
	                                <ui-select-match>{{$item}}</ui-select-match>
	                                <ui-select-choices repeat="item in options.Tags">{{item}}</ui-select-choices>
	                            </ui-select>
						</div>
						<div nc-template="common/input/form-group-with-label-multiple" nc-template-form="form.Price" nc-label="Price" nc-template-options-path="searchForm/Price">
							<div class="width-field-small-input">
								<input type="text" name="Price" ng-maxnumber="{{formData.PriceTo}}" ng-model="formData.PriceFrom" class="form-control" ng-pattern-restrict="^[0-9]*(\.[0-9]*)?$" maxlength="20"/>
							</div>
							<div class="width-label-extend text-center"><label class="control-label">To</label></div>
							<div class="width-field-small-input">
								<input type="text" ng-model="formData.PriceTo" class="form-control" ng-pattern-restrict="^[0-9]*(\.[0-9]*)?$" maxlength="20"/>
							</div>
						</div>
						<div nc-template="common/input/form-group-with-label-multiple" nc-template-form="form.CreatedDate" nc-label="Created date" nc-template-options-path="searchForm/CreatedDate">
							<div class="width-field-small-input">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <input readonly style="background-color:white" type="text"
                                         class="input-icon-calendar form-control" value="{{ formData.CreatedDtFrom | date: 'dd/MM/yy HH:mm' }}" />
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker name="CreatedDate" ng-date-before="{{formData.CreatedDtTo}}" data-ng-model="formData.CreatedDtFrom" data-datetimepicker-config="{ dropdownSelector: '#dropdown', minView: 'hour' }" />
                                    </ul>
                                </div>
							</div>
							<div class="width-label-extend text-center"><label class="control-label">To</label></div>
							<div class="width-field-small-input">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <input readonly style="background-color:white" type="text"
                                         class="input-icon-calendar form-control" value="{{ formData.CreatedDtTo | date: 'dd/MM/yy HH:mm' }}" />
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="formData.CreatedDtTo" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView: 'hour' }" />
                                    </ul>
                                </div>
							</div>
						</div>
						<div nc-template="common/input/form-group-with-label-multiple" nc-template-form="form.ModifiedDate" nc-label="Modified Date" nc-template-options-path="searchForm/ModifiedDate">
							<div class="width-field-small-input">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <input readonly style="background-color:white" type="text"
                                         class="input-icon-calendar form-control" value="{{ formData.ModifyDtFrom | date: 'dd/MM/yy HH:mm' }}" />
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="formData.ModifyDtFrom" name="ModifiedDate" ng-date-before="{{formData.ModifiedDtTo}}" data-datetimepicker-config="{ dropdownSelector: '#dropdown3', minView: 'hour' }" />
                                    </ul>
                                </div>
							</div>
							<div class="width-label-extend text-center"><label class="control-label">To</label></div>
							<div class="width-field-small-input">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <input readonly style="background-color:white" type="text"
                                         class="input-icon-calendar form-control" value="{{ formData.ModifyDtTo | date: 'dd/MM/yy HH:mm' }}" />
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="formData.ModifyDtTo" data-datetimepicker-config="{ dropdownSelector: '#dropdown4', minView: 'hour' }" />
                                    </ul>
                                </div>
							</div>
						</div>
						<div class="form-group">
							<div class="width-label"><label class="control-label"></label></div>
							<div class="button-size-normal">
								<button class="button-size-normal btn btn-blue btn-width-xl" ng-click="search()">Search</button>
							</div>
							<div class="button-size-normal">
								<a class="button-size-normal margin-left-10 btn btn-white btn-width-xl" ng-click="clear()">Clear</a>
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>