<div class="form-section">
	<div class="form-section-header">
		<h2><input type="checkbox" style="margin-right: 10px" ng-model="source.Enabled"/>{{letter}}.) {{title}}</h2>
	</div>
	<div ng-show="source.Enabled">
		<nc-image-block template="common/ncImageBanner4_1" nc-model="source.ImageEn" on-fail="onFail" uploader="uploader" options="options" size="{{size}}">
		<h4>{{letterx}} {{subtitle ? subtitle : 'Banner'}} (English) guideline</h4><p>Choose images that are clear, information-rich, and attractive. Images must meet the following requirements</p><ul><li>Maximum {{size}} images</li><li>The width must be {{width}}px</li><li>The height must be {{height}}px</li></span></li></ul>
		</nc-image-block>
		<div class="section-break" ng-if="(source.Links && source.Links.length > 0)"></div>
		<div class="form-section-content padding-left-15 padding-right-15" ng-if="(source.Links && source.Links.length > 0)">
			<div ng-repeat="link in source.Links track by $index" class="form-group">
				<div class="width-label">
					<label class="control-label"> Icon {{$index+1}} Link</label>
				</div>
				<div class="width-field-normal">
					<input class="form-control" ng-model="link" />
				</div>
			</div>
		</div>
	</div>
