<div>
	<p class="featured-image-wrapper">Featured Image</p>
	<ul class="image-management-list">
		<li class="list-item" ng-repeat="image in images track by $index">
			<div class="image-thumbs-actions">
				<div class="image-thumbs-img-wrapper">
					<img ng-show="getSrc(image)" style="background-color:white;" ng-src="{{getSrc(image)}}" />
			        <h4 ng-show="!getSrc(image)" style="text-align: center;" class="color-grey"><img src="/assets/img/loader.gif" height="55">
			            <br/>
			            <span ng-if="getProgress(image) < 100">
			                {{ getProgress(image) }}%
			            </span>
			            <span ng-if="getProgress(image) >= 100" style="font-size:12px">
			                Processing...
			            </span>
			        </h4>
				</div>
				<div class="actions-wrapper" >
					<a class="action {{ isDisabled(image) ? 'disabled' : ''}}" ng-repeat="action in options.actions" style="width: {{100 / options.actions.length }}%;" ng-click="call(action, image, model)">
						<i class="fa {{action.icon}}"></i>
					</a>
					<!-- fa-search-icon fa-trash -->
				</div>
			</div>
		</li>
	</ul>
</div>
