<div class="drop-zone-container">
	<div class="image-drop-wrapper">
		<input type="file" />
		<div class="image-drop-zone">
			<div class="image-drop-zone-text" ng-bind-compile="content">
						<? $this->insert('components/image-dropzone-inline-text', ["id" => "images-management1", 'texts' =>['<i class="fa fa-image fa-3x color-theme"></i>', 'Drop images here', '<a href="#" data-trigger="file" data-target="#images-management1">or select images</a>']]) ?>
						<? $this->insert('components/image-dropzone-inline-text', ['texts' =>['<i class="fa fa-ban fa-3x color-dark-grey"></i>', 'Cannot upload', 'Wait for Approval']]) ?>
						<? $this->insert('components/image-dropzone-inline-text', ["id" => "images-management3", 'texts' =>['This product is already approved', '<a href="#" data-trigger="file" data-target="#images-management3">Click here to edit</a>']]) ?>
						<? $this->insert('components/image-dropzone-inline-text', ["id" => "images-management4", 'texts' =>['<i class="fa fa-image fa-3x color-theme"></i>', 'Drop images here', '<a href="#" data-trigger="file" data-target="#images-management4">or select images</a>']]) ?>
						<? $this->insert('components/image-dropzone-inline-text', ['texts' =>['<i class="fa fa-ban fa-3x color-dark-grey"></i>', 'Cannot upload', 'Reach Max Photos']]) ?>
			</div>
		</div>
	</div>
</div>