<div class="form-section">
	<div class="form-section-header"><h2>{{title}}</h2></div>
	<div class="form-section-content padding-left-15 padding-right-15">
		<div class="col-xs-7">
			<div class="image-drop-wrapper">
				<div
					ngf-drop="upload($files)"
					ngf-pattern="'.png,.jpg,.jpeg'"
					ngf-multiple="true"
					class="image-drop-zone">
					<div class="image-drop-zone-text">
						<p><i class="fa fa-image fa-3x color-theme"></i></p>
						<p>Drag &amp; drop your product images here</p>
					</div>
				</div>
				<div class="image-select-alternative-text">
					<span>Or</span>
					<a href="javascript:;"
					ngf-select="upload($files)"
					ngf-multiple="true"
					ngf-accept="'.png,.jpg,.jpeg'"
					>Select Images from your computer</a>
				</div>
			</div>
		</div>
		<div class="col-xs-5" ng-transclude>
		</div>
	</div>
	<div class="form-section-content padding-left-15 padding-right-15" style="margin-bottom:0px;">
		<ul class="image-vertical-list">
			<li class="list-item" ng-repeat="image in images track by $index">
				<div class="image-thumbs-actions">
					<div class="image-thumbs-img-wrapper" ng-style="options">
						<img ng-show="getSrc(image)" style="background-color:white;" ng-src="{{getSrc(image)}}" />
				        <h4 ng-show="!getSrc(image)" style="text-align: center;margin-top:35px;" class="color-grey"><img src="/assets/img/loader.gif" height="55">
				            <br/>
				            <span ng-if="getProgress(image) < 100">
				                {{ getProgress(image) }}%
				            </span>
				            <span ng-if="getProgress(image) >= 100">
				                Processing..
				            </span>
				        </h4>
					</div>
					<div class="actions-wrapper text-center">
						<a class="action" ng-repeat="action in actions" ng-click="call(image, $parent.$index, action)" style="width:37px; display:inline-block;">
							<i class="fa {{action.icon}}"></i>
						</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
