<div class="category-section-border-box">
	<div class="category-header">{{title}}</div>
	<div class="category-content no-padding">
		<ul ng-repeat="column in (columns.list()) track by $index"
		ng-class="{'empty-column': column.list().length <= 0 }" class="content-column">
			<li ng-repeat="$item in (column.list()) track by $index"
			ng-class="{'category-active' : $index == column.active() , 'disabled': anyHas($item, excludeBy, 'CategoryId') }"
			ng-click="!anyHas($item, excludeBy, 'CategoryId') && setModel($item)">
				{{getContent($item)}}
			</li>
		</ul>
	</div>
</div>
