.nav-tabs
	border-color: $color-grey

	> li > a
		&, &:hover, &:focus
			background-color: initial
			border: none

		color: $color-drak-grey

	> li.active > a
		&, &:hover, &:focus
			border: none
			border-bottom: 3px solid $color-theme

		color: $color-black

.add-product-body
	margin-top: 20px