.margin-right-20 {
	margin-right: 20px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.padding-right-15 {
	padding-right:	15px;
}

.float-left {
	float: left;
}

.float-right {
	float:	right;
}