.margin-right-20 {
	margin-right: 20px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.padding-right-15 {
	padding-right:	15px;
}

.float-left {
	float: left;
}

.float-right {
	float:	right;
}

.color-theme-light {
	color: $color-light-theme;
}

.color-theme {
	color: $color-theme;
}

.color-grey {
	color: $color-grey;
}

.color-green {
  color: $color-green;
}

.color-red {
  color: $color-red;
}

.color-drak-grey {  
  color:  $color-drak-grey;
}

.color-yellow {
  color:  $color-yellow;
}

.vertical-align-middle {
	vertical-align: middle;
}