.margin-right-20 {
	margin-right: 20px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-right-15 {
	margin-right: 15px;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-7 {
	margin-top: 7px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.padding-left-15 {
	padding-left:	15px;
}

.padding-left-30 {
	padding-left:	30px;
}

.padding-right-15 {
	padding-right:	15px;
}

.padding-right-30 {
	padding-right:	30px;
}

.padding-bottom-30 {
	padding-bottom: 30px;
}

.no-margin {
	margin:	0;
}

.no-padding {
	padding: 0;
}

.float-left {
	float: left;
}

.float-right {
	float:	right;
}

.color-theme-light {
	color: $color-light-theme;
}

.color-theme {
	color: $color-theme;
}

.color-grey {
	color: $color-grey;
}

.color-green {
 	color: $color-green;
}

.color-dark-green {
	color:	$color-dark-green;
}

.color-red {
  color: $color-red;
}

.color-dark-grey {  
  color:  $color-dark-grey;
}

.color-yellow {
  color:  $color-yellow;
}

.vertical-align-middle {
	vertical-align: middle;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	@extend .text-right;
}

.hide-component {
	display:	none;
}

.font-size-18 {
	font-size: 18px
}

.icon-size-20{
	font-size: 20px;
}

.margin-0 {
	margin: 0;
}

.font-weight-bold {
	font-weight: bold;
}

.opacity-1 {
	opacity: 1;
}