.ah-breadcrumb {
	> span {
		color: $font-breadcrumb-color;
	}

	> .ah-breadcrumb-path {	
		color: $font-breadcrumb-color;
		
		&:last-child {
			color: $font-breadcrumb-color-current;
		}
	}

	.ah-breadcrumb-splitter {
		display: inline-block;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
}