.btn {
  &, &:hover, &:active, &:focus {
    outline: none;
  }
}

.btn-white {
  width: $button-width-default;
  @include button-variant($color-theme, $white, $btn-default-border);
}

.btn-blue {
  width: $button-width-default;
  @include button-variant($white, $color-theme, $color-theme);
}

.btn.btn-width-xl {
	width: $button-width-xl;
}

.btn.btn-width-xxl {
	width: $button-width-xxl;
}