.btn {
  &, &:hover, &:active, &:focus {
    outline: none;
  }
}

.link-btn-plain {
  width: $button-width-default;
  display: inline-block;

  &.width-lg {
  	width: $button-width-lg;
  }

  &.width-xl {
  	width: $button-width-xl;
  }

  &.width-xxl {
  	width: $button-width-xxl;
  }
}

.btn-default{
  color: $color-black;
  border-color: $color-grey;
}

.btn-white {
  width: $button-width-default;
  @include button-variant($color-theme, $white, $color-grey);
}

.btn-blue {
  width: $button-width-default;
  @include button-variant($white, $color-theme, $color-theme);
}

.btn-grey {
  width: $button-width-default;
  @include button-variant($white, $color-grey, $color-grey);
}

.btn-green {
  width: $button-width-default;
  @include button-variant($white, $color-green, $color-green);
}

.btn-red {
  width: $button-width-default;
  @include button-variant($white, $color-red, $color-red);
}

.btn_disabled:disabled {
  color:  $color-grey;
}

.btn.btn-width-xl {
	width: $button-width-xl;
}

.btn.btn-width-xxl {
	width: $button-width-xxl;
}

.btn.btn-width-xxxl {
  width: $button-width-xxxl;
}

.btn.btn-width-100 {
  width: 100%;
}


.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
  pointer-events: none;
}

.btn-white.disabled, .btn-white[disabled], fieldset[disabled] .btn-white{
  color: $color-grey;
}
