/*---- Form Section ----*/
.form-section-content-grey
	background-color: $color-light-grey
.form-section.margin-bottom-0
	margin-bottom: 0
.form-section
	border: 1px solid $color-grey
	@include border-radius(3px)
	margin-bottom: 30px

	.form-section-header
		h1,h2,h3,h4,h5,h6
			margin-top: 0
			margin-bottom: 0
		*
			font-size: inherit
			font-weight: inherit

		font-size: 14px
		font-wieght: normal
		padding: 6px 10px
		border-bottom: 1px solid $color-grey
		background-color: $color-light-grey


	.form-section-content
		@extend .clearfix
		margin-top: 30px
		margin-bottom: 15px

		&.no-margin
			margin-top: 0
			margin-bottom: 0

		&.margin-filter
			margin-bottom:	20px

		.table-wrapper
			padding-left: 30px
			padding-right: 30px

		.two-columns
			margin: 0px 30px 15px 30px
			label
				margin-bottom: 10px
			textarea
				max-width: 100%

	.section-break
		width: 100%
		@extend .clearfix
		border-bottom: 1px solid $color-grey
		min-height: 1px


/*---- Form ----*/

form
	*
		font-weight: inherit
		font-size: inherit

form
	h1
		font-size: $font-size-h1
	h2
		font-size: $font-size-h2
	h3
		font-size: $font-size-h3
	h4
		font-size: $font-size-h4
	h5
		font-size: $font-size-h5
	h6
		font-size: $font-size-h6

.form-control
	border-color: $color-grey

.form-control::-webkit-input-placeholder
	color: $color-grey

.form-control:placeholder-shown
	color: $color-grey

.form-control[disabled]::-webkit-input-placeholder
	color: $color-grey

.form-control[disabled]:placeholder-shown
	color: $color-grey

.ah-form
	@extend .form-horizontal
	@include clearfix

	.control-padding-top
		padding-top: ($padding-base-vertical + 1) // Default padding plus a border

	.form-group
		$form-group-margin-bottom: 15px
		margin-left: 30px
		margin-right: 30px
		margin-bottom: $form-group-margin-bottom

		&.form-group-closer
			$close-margin-diff: 5px
			margin-top: -$close-margin-diff
			margin-bottom: $form-group-margin-bottom + $close-margin-diff
			//margin-bottom: 25px

		.width-label
			@extend .col-xs-3
			width: 170px
			padding-left: 0
			padding-right: 0
			padding-bottom: 8px
			> *
				float: right
		.width-label-extend
			@extend .col-xs-3
			width: 80px
			padding-left: 0
			padding-right: 0
			> *
				float: right
		.width-field-small-input
			@extend .col-xs-7
			width: 250px
		.width-field-small
			@extend .col-xs-7
			width: 300px
		.width-field-normal
			@extend .col-xs-7
			width: 400px
		.width-field-large
			@extend .col-xs-7
			width: 500px
		.width-field-xl
			@extend .col-xs-7
			width: 600px
		.width-field-xxl
			@extend .col-xs-7
			width: 700px
		.width-field-tooltip
			@extend .col-xs-2
			padding: 0px
			width: 24px
			height: 34px
			line-height: 34px
			> *
				vertical-align: middle
			&.no-padding-left
				padding-left: 0
		.width-field-checkbox
			@extend .col-xs-3
			width:	250px
			line-height: 34px

			.checkbox_text
				padding-left: 10px

		.button-size-normal
			@extend .col-xs-7
			width: 120px
		.button-size-large
			@extend .col-xs-7
			width: 200px

	.form-group-link-action .form-text
		padding-top: 0

	.form-group.margin-bottom-0
		margin-bottom:	0

	.control-label
		padding-top: 8px

	.two-lines-label .control-label
		padding-top: 0px

	.form-text
		@extend .control-label
		display: inline-block
		max-width: 100%

	.text-result
		text-align: left
		padding-top: 8px
		ul
			padding-left: 0px

	.scrollable-field
		overflow: hidden
		.scrollable-content
			-webkit-padding-start: 0px
			height: 230px
			overflow-y: auto
			list-style: none
			border: 1px solid #BCC7D5
			border-radius: 3px
			li
				padding-left: 15px
				padding-right: 15px
				line-height: 30px

	.help-block
		margin-bottom: 0
		font-size: 11px

	.main-form-action
		padding-top: 15px
		padding-bottom: 15px
		border-top: 1px solid $color-grey

	.radio, .checkbox
		&.multiline > label
			padding-top: $padding-base-vertical + 1
			display: block
			&:first-child
				padding-top: 0

	.radio.multiple-radio > label
		margin-right: 15px

	.checkbox.multiple-checkbox > label
		margin-right: 15px


	a.required, span.required, label.required
		position: relative
		display: inline-block
		&:after
			display: block
			content: "*"
			position: absolute
			color: red
			top: 3px
			right: -6px
			font-size: 16px
			line-height: 1

	.main-form-action .btn ~ .btn
		margin-left: 10px

	.input-with-unit
		position: relative
		input.form-control
			padding-right: 50px
		.input-unit
			position: absolute
			right: 7px
			top: $padding-base-vertical + 1
			color: $color-grey
			pointer-events: none


	.multiple-input
		$gutter-size: 15px
		@include make-row($gutter: $gutter-size)

		.input-column
			> label
				padding-top: $padding-base-vertical + 1
			&.no-label
				padding-top: $padding-base-vertical + 1 + 19 + 5 //base + 1 + label height + label margin bottom

			@include make-xs-column(12, $gutter: $gutter-size)
			width: 120px

			&.input-xl
				width: 150px

			&.input-xxl
				width: 200px




	select.form-control
		@include appearance(none)
		background-position: right 6px center
		background-repeat: no-repeat
		background-image: url("/assets/img/dropdown.png")
		background-size: 9px 6px

	.ah-select2-dropdown
		width: 100%

	&.sticky-mainform-action
		padding-bottom: 64px
		.main-form-action
			z-index: 9
			position: fixed
			bottom: 0
			width: 100%
			padding-right: 60px
			background: #fff

.form-inline
	.width-field-small-input
		width: 230px

/*---- Tagsinput ----*/
.ahpt
	.bootstrap-tagsinput
		padding-top: $padding-base-vertical + 1
		width: 100%

		&.tagsinput-plain
			border: none
			box-shadow: none
			padding-left: 0
			cursor: initial

		.label-info
			background-color: $color-light-theme
		.label
			font-size: 100%
			color: $color-black
			font-weight: normal
			margin-right: 5px

/*---- Select 2 ----*/
.ahpt
	.input-with-unit .select2-container--default .select2-selection .select2-selection__rendered
		padding-right: 45px
	.input-with-unit .select2-container--default .select2-selection .select2-selection__rendered
		padding-right: 15px

	.select2-container--default
		&, &.select2-container--focus
			.select2-selection
				border-color: $color-grey

		// [aria-multiselectable="true"] .select2-results__option[aria-selected=true]
		// 	display: none

	.select2-container .select2-selection
		min-height: 34px

	.select2-container .select2-search--inline .select2-search__field
		margin-top: 7px

	.select2-container--default .select2-selection .select2-selection__choice
		line-height: 20px
		color: $color-black
		background-color: $color-light-theme
		border-color: $color-light-theme

	.select2-container--default .select2-selection--single .select2-selection__rendered
		line-height: 32px

	.select2-container--default .select2-selection .select2-selection__choice__remove
		line-height: 20px
		float: right
		margin-left: 3px
		margin-right: 0
		color: $color-black
		font-weight: bold

	.select2-container--open
		.select2-dropdown--below
			border-color: $color-grey

	.ah-select2-dropdown .select2-selection--multiple
		cursor: pointer

	.ah-select2-dropdown .select2-container .select2-selection
		background-position: right 6px center
		background-repeat: no-repeat
		background-image: url("/assets/img/dropdown.png")
		background-size: 9px 6px

	.select2-container--default .select2-selection .select2-selection__arrow
		display: none
