form
	*
		font-weight: inherit
		font-size: inherit

form
	h1 
		font-size: $font-size-h1
	h2 
		font-size: $font-size-h2
	h3 
		font-size: $font-size-h3
	h4 
		font-size: $font-size-h4
	h5 
		font-size: $font-size-h5
	h6 
		font-size: $font-size-h6

.form-control[disabled]::-webkit-input-placeholder
	color: $color-grey

.form-control[disabled]:placeholder-shown
	color: $color-grey

.ah-form
	@extend .form-horizontal
	@include clearfix

	.control-padding-top
		padding-top: ($padding-base-vertical + 1) // Default padding plus a border

	.form-group
		$form-group-margin-bottom: 15px
		margin-left: 30px
		margin-right: 30px
		margin-bottom: $form-group-margin-bottom
		
		&.form-group-closer
			$close-margin-diff: 5px
			margin-top: -$close-margin-diff
			margin-bottom: $form-group-margin-bottom + $close-margin-diff
			//margin-bottom: 25px

		.width-label
			@extend .col-xs-3
			width: 170px
			padding-left: 0
			padding-right: 0
			> *
				float: right
		.width-label-extend
			@extend .col-xs-3
			width: 80px
			padding-left: 0
			padding-right: 0
			> *
				float: right		
		.width-field-small-input
			@extend .col-xs-7
			width: 250px
		.width-field-small
			@extend .col-xs-7
			width: 300px
		.width-field-normal
			@extend .col-xs-7
			width: 400px
		.width-field-large
			@extend .col-xs-7
			width: 500px
		.width-field-xl
			@extend .col-xs-7
			width: 600px
		.width-field-xxl
			@extend .col-xs-7
			width: 700px
		.width-field-tooltip
			@extend .col-xs-2
			width: 24px
			height: 34px
			line-height: 34px
			> *
				vertical-align: middle
			&.no-padding-left
				padding-left: 0
		.button-size-normal
			@extend .col-xs-7
			width: 120px
		.button-size-large
			@extend .col-xs-7
			width: 200px

	.form-group-link-action .form-text
		padding-top: 0

	.form-group.margin-bottom-0
		margin-bottom:	0	

	.form-text
		@extend .control-label
		display: inline-block
		max-width: 100%

	.control-label-results
		text-align: left
		ul
			padding-top: 7px
			padding-left: 0px		

	.help-block
		margin-bottom: 0
		font-size: 11px

	.main-form-action
		padding-top: 15px
		padding-bottom: 15px
		border-top: 1px solid $color-grey

	.radio, .checkbox
		&.multiline > label
			padding-top: $padding-base-vertical + 1
			display: block
			&:first-child
				padding-top: 0

	.radio.multiple-radio > label
		margin-right: 15px

	.checkbox.multiple-checkbox > label
		margin-right: 15px


	a.required, span.required, label.required
		position: relative
		display: inline-block
		&:after
			display: block
			content: "*"
			position: absolute
			color: red
			top: 3px
			right: -6px
			font-size: 16px
			line-height: 1

	.main-form-action .btn ~ .btn
		margin-left: 10px

	.input-with-unit
		position: relative
		input.form-control
			padding-right: 50px
		.input-unit
			position: absolute
			right: 7px
			top: $padding-base-vertical + 1
			color: $color-grey
			pointer-events: none


	.multiple-input
		$gutter-size: 15px
		@include make-row($gutter: $gutter-size)

		.input-column
			> label
				padding-top: $padding-base-vertical + 1
			&.no-label
				padding-top: $padding-base-vertical + 1 + 19 + 5 //base + 1 + label height + label margin bottom
			
			@include make-xs-column(12, $gutter: $gutter-size)
			width: 120px

			&.input-xl
				width: 150px

			&.input-xxl
				width: 200px




	select.form-control
		@include appearance(none)
		background-position: right 6px center
		background-repeat: no-repeat
		background-image: url("/assets/img/dropdown.png")
		background-size: 9px 6px

	.ah-select2-dropdown
		width: 100%

	&.sticky-mainform-action
		padding-bottom: 64px
		.main-form-action
			position: fixed
			bottom: 0
			width: 100%
			padding-right: $sidebar-width
			background: #fff