
.global-category-page {

	.global-category-radio-section {
		margin-top: 25px;
	}
}

.modal-category-section {
	$item-column-size: $category-selection-column-size;

	&.column-1 {
		width: ($item-column-size * 1) + 60px + 4px;
	}

	&.column-2 {
		width: ($item-column-size * 2) + 60px + 4px;
	}

	&.column-3 {
		width: ($item-column-size * 3) + 60px + 4px;
	}

	&.column-4 {
		width: ($item-column-size * 4) + 60px + 4px;
	}

	&.column-5 {
		width: ($item-column-size * 5) + 60px + 4px;
	}
}

.category-section {
	// margin-top: 20px;
	$item-column-size: $category-selection-column-size;
	$item-column-height: 285px;
	$item-column-gutter: 15px;
	line-height: 30px;
	width: ($item-column-size * 4) + 2px;
	.category-section-border-box {
		border: solid 1px $color-grey;
		@include border-radius($border-radius-base);
		@include clearfix();
	}

	.category-header {
		@include make-xs-column(12, $gutter: $item-column-gutter * 2);

		background: $color-light-grey;
		border-bottom:	1px solid $color-grey;
	}

	.category-content {
		height: $item-column-height;
		width: 100%;
		overflow: hidden;
		background: $color-light-blue;

		> .content-column {
			@include make-xs-column(3, $gutter: 0);
			padding: 0px 0 0 0;
			margin: 0;
			height: $item-column-height;
			max-height:	$item-column-height;
			width: $item-column-size; 
			overflow-y: auto;

			border-left: 1px solid  $color-grey;
			&:first-child {
				border-left: none;
			}

			> li {
				padding-left: $item-column-gutter;
				padding-right: $item-column-gutter;
				padding-top: 10px;
				padding-bottom: 10px;
				line-height: 1.2em;
				cursor: pointer;
				&.category-active {
					background: $color-blue;
					color: $color-white;
				}
			}

			&.empty-column {
				background: $color-light-blue;
			}

			&:not(.empty-column) {
				background: $color-white;
			}
		}
	}

	.category-footer {
		margin-top: 15px;
		@include clearfix();
	}

	&.column-1 {
		width: ($item-column-size * 1) + 2px;
	}

	&.column-2 {
		width: ($item-column-size * 2) + 2px;
	}

	&.column-3 {
		width: ($item-column-size * 3) + 2px;
	}

	&.column-4 {
		width: ($item-column-size * 4) + 2px;
	}

	&.column-5 {
		width: ($item-column-size * 5) + 2px;
	}
}