// Top Header
.header {
	background: $header-bg-color;
	height: 60px;

	.header-font-subject {
		font-size: 20px;
		line-height: 60px;
		color: #32343c;
	}

	.header-font-detail {
		float: right;
		color: $color-dark-grey;
		line-height: 60px;
	}
	.header-font-detail:hover {
		color: $color-theme;
	}
	.dropdown-toggle{
		padding-top: 20px;
		padding-bottom: 20px;
		color: $color-dark-grey;
	}
	.dropdown-toggle:hover, .dropdown-toggle:focus, .open .dropdown-toggle,.open .dropdown-toggle:hover {
    	background-color: $color-theme !important;
    	color: $color-white !important;
	}
	.dropdown-menu{
		padding: 10px 0px;
		border-color: $color-light-grey;
	}
	.dropdown-menu .divider{
		background-color: $color-light-grey;
	}
}

// Page Header
.page-header {
	@extend .clearfix;
	padding-bottom: 14px;
		h1{
			margin: 3px 0px 7px 0px;
		}

	&.with-border {
		border-bottom: 1px solid $header-border-grey;  
	}
	&.no-padding {
		padding-bottom: 0;
	}

	.page-header-title {
		font-size: 24px;
		font-weight: normal;
	}

	.page-actions {
		.btn ~ .btn {
			margin-left: 10px;
		}
	}
}