.image-management.form-section {
	.content-text {	
	    width: auto;
	    display: inline;
	    float: left;
	    padding-left: 15px;	
	}

	.picture-container {
		display: inline-block;
	}

	.drop-zone-container {
		display: inline-table;
	}

	.image-thumbs-actions {
		width: 121px;
	}

	.image-thumbs-actions .image-thumbs-img-wrapper {
		width: 120px;
		height: 120px;
	}

	.image-drop-wrapper {
		width: 175px;
	}
}
