.image-management {
	$feature-text-height: 20px;

	.form-section-content {
		display: flex;
		margin-top: 30px - $feature-text-height;
		margin-bottom: 30px - 15px; // -15px for image list item's margin bottom
		padding-left: 15px;
		padding-right: 30px;
	}
	.feature-text {
		font-size: 12px;
		margin-left: 27px;
		height: $feature-text-height;
	}
	.content-text {
		margin-top: $feature-text-height;
	    width: 140px;
	    display: block;
	    float: left;
	}

	.picture-container, .drop-zone-container {
		display: block;
		float: left;
	}

	.drop-zone-container {
		margin-top: $feature-text-height;
		margin-left: 10px;
		flex-grow: 100;

		&.disabled {
			.image-drop-zone {
				background-image: none;
				background-color:  $color-grey;
			}
		}

		&.no-background {
			.image-drop-zone {
				background-image: none;
				background-color:  $color-light-blue;
				border: solid 1px $color-grey;
			}
		}
	}

	.image-drop-wrapper {
		width: 100%;
		margin-right: 20px;
	}

	.image-drop-zone {
		height: 285px - 2px; // -2px for 2-side border thick
	}

	.image-drop-zone-text {
		width: 120px;
	}

	.alert-wrapper {
		margin: 15px 30px 15px 15px;
	}

	.featured-image-wrapper {
		font-size: 12px;
		margin-bottom: 5px;
		margin-left:23px
	}

}

.image-management {
	.image-thumbs-actions {
		@include image-thumbs(100px, 135px);
		.actions-wrapper{
			.disabled{
				opacity: 0.4 !important;
				pointer-events: none;
			}
		}
	}

	.image-management-list {
		@extend .clearfix;
		padding: 0;
		max-width: 575px;
		margin: 0;

		.list-item {
			display: block;
			float: left;
			list-style: none;
			margin-left: 15px;
			margin-bottom: 15px;
		}
	}
}
