%input-with-icon
  background-size: 15px 15px
  background-position: 7px center
  background-repeat: no-repeat
  padding-left: 30px

%input-with-icon-right
  background-size: 15px 15px
  background-position: right 7px center
  background-repeat: no-repeat
  padding-right: 30px


/****************** ON LEFT ***********************/
.input-search-icon, .input-icon-search
  @extend %input-with-icon
  background-image: url('../img/icon-search.png')

.input-icon-calendar
  @extend %input-with-icon
  background-image: url('../img/icon-calendar.png')



/****************** ON RIGHT ***********************/
.input-icon-right-search
  @extend %input-with-icon-right
  background-image: url('../img/icon-search.png')

.fa-input-icon
  float: right
  margin-right: 6px
  margin-top: -23px
  position: relative

.input-password-eye
  @extend .fa-input-icon
  color: $color-grey

  &.active
    color: $color-theme
