// .inventory_modal {
	.border_modal {
		border-bottom: solid 1px $color-grey;
		padding-bottom:	5px;
	}

	.border_full {
		border:	solid 1px $color-grey;
	}

	.available_inventory {
		font-weight: bold;
		padding-top: 5px;
		padding-bottom: 5px;
	}
// }