#wrapper-login {
  position: relative;
  display: block;
  min-width: 1200px;
  min-height: 100%;
  background: url('/assets/img/bg-login.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  background-color: #FFFFFF;
}

.login-page {

	.logo-img-wrapper {
		text-align: center;
    	margin-top: 50px;
    	margin-bottom: 20px;
	}

	.logo-img {
		height: 130px;
	}

	.form-login {
		background-color: $color-white;
	    border: solid $color-grey 1px;
	    width: 300px;
	    border-radius: 2px;
	    margin: auto;
	    padding: 40px 30px 20px 30px;
	}

	.btn-100 {
		width:	100%;
	}
  .alert .close {
    margin-top: 0;
  }
}
.login-loading{
	margin-right: 5px;
}
