.modal-custom {
	input.form-control.has-error {
		border-color: $color-red;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
    

	.forget-modal-width {
		width: 435px;
	}

	.change-password-modal {
		width: 505px;
		.ah-form .form-group {
		    margin-left: -15px;
		    margin-right: -15px;
		}
	}

	.modal-change-password {
		width: 505px;
		.ah-form .form-group {
		    margin-left: -15px;
		    margin-right: -15px;
		}
	}
}


.modal {
	.modal-content {
		.modal-header{
			border-bottom: 0px;
			padding-bottom: 0px;
			h3{
				font-size: 20px;
			}
		}
		button.close > span {
	    	line-height: 1;
	    	font-size: 36px;
	    	margin-top: -6px;
		}


	.modal_title_abosolute {
		position: absolute;
	}
	.title_relative {
		position: relative;

	}
}

// #local-category-detail > div > div > div.modal-body > form > div > div > div:nth-child(2) > div.form-section-content.modal-alert > div > div.width-field-normal > div > label:nth-child(1)