.field_seller

	.with_border 
		padding-bottom: 14px
		border-bottom: 1px solid $header-border-grey

.onboarding_wrapper
	background-image: url('/assets/img/bg-onboarding.png')
	background-size:	100%
	margin-top:	-30px
	margin-bottom: -30px
	margin-left: -40px
	margin-right: -40px
	height:	258px

	.welcome_text_big
		padding-top: 92px
		font-size: 36px

	.welcome_text_small
		font-size: 24px