.table {
	.checkbox-column {
		width: 14px;
	}

	.display-column {
		width: 40px;
	}

	.price-column {
		width: 200px;
	}

	.info-column {
		width: 50px;
	}

	.image-column {
		width: 50px;
	}

	.status-column {
		width: 140px;	
	}

	.live-column {
		width: 50px;
	}

	.visible-column {
		width: 50px;
	}

	.modified-column {
		width: 88px;
	}
}