.table {
	.checkbox-column {
		width: 14px;
	}

	.display-column {
		width: 40px;
	}

	.price-column {
		width: 160px;
	}

	.info-column {
		width: 39px;
	}

	.image-column {
		width: 48px;
	}

	.status-column {
		width: 140px;	
	}

	.live-column {
		width: 33px;
	}

	.visible-column {
		width: 41px;
	}

	.modified-column {
		width: 53px;
	}
}