$sidebar-width: 180px;


// Color

$sidebar-color:	#252d40;
$sidebar-bg-color-active:	#1e2534;
$sidebar-font-color-active:	#ffffff;

$header-bg-color:	#edf2f9;

$font-color-grey:	#7b7f8f;

$fa-font-path: '/assets/fonts';