<nc-alert nc-model="alert"></nc-alert>
<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body">
  <form class="ah-form margin-top-20" name="form" novalidate>
    <div class="row">
      <div class="col-xs-12">
          <div class="form-section-content">
            <!-- Password -->
            <div ng-if="oldPassword">
            <div ng-template="common/input/password"
              ng-template-options="{
              'label': 'Old Password',
              'labelClass': 'required',
              'inputSize': 'small',
              'error' : {
                'messages': {
                'required': 'This is a required field'
              },
              'show': isInvalid(form.Password),
              'conditions' : form.Password.$error
              }
              }">
                <input
                class="form-control"
                type="{{$parent.inputType}}"
                name="Password"
                ng-model="formData.Password"
                ng-pattern-restrict="^[^<>]*$"
                ng-class="{ 'has-error' : isInvalid(form.Password) || (form.$pristine && formData.error) }"
                required />
            </div>
            </div>
            <!-- New Password -->
            <div ng-template="common/input/password"
              ng-template-options="{
              'label': 'New Password',
              'labelClass': 'required',
              'inputSize': 'small',
              'formGroupClass': oldPassword ? 'margin-top-30': '',
              'error' : {
                'messages': {
                  'required': 'This is a required field',
                  'pattern': 'Your password must contain letters and numbers',
                  'minlength': 'Your password must be 8-20 characters long',
                  'maxlength': 'Your password must be 8-20 characters long'
                },
                'show': isInvalid(form.NewPassword),
                'conditions' : form.NewPassword.$error
              }
              }">
                <input
                class="form-control"
                type="{{$parent.inputType}}"
                name="NewPassword"
                ng-model="formData.NewPassword"
                ng-class="{ 'has-error' : isInvalid(form.NewPassword) || (form.$pristine && formData.error) }"
                ng-pattern="/^([0-9]+[a-zA-Z]+|[a-zA-Z]+[0-9]+)[0-9a-zA-Z]*$/"
                ng-pattern-restrict="^[^<>]*$"
                ng-maxlength="20"
                ng-minlength="8"
                required />
            </div>
            <!-- Confirm New Password -->
            <div ng-template="common/input/password"
              ng-template-options="{
              'label': 'Confirm Password',
              'labelClass': 'required',
              'inputSize': 'small',
              'error' : {
                  'messages': {
                    'required': 'This is a required field',
                    'match': 'Your password and password confirmation do not match'
                  },
                  'show': isInvalid(form.ConfirmPassword),
                  'conditions' : form.ConfirmPassword.$error
                }
              }">
                <input
                class="form-control"
                type="{{$parent.inputType}}"
                name="ConfirmPassword"
                ng-model="formData.ConfirmPassword"
                ng-class="{'has-error' : isInvalid(form.ConfirmPassword) || (form.$pristine && formData.error)}"
                ng-match="{{formData.NewPassword}}"
                required />
            </div>
          </div>
        <div class="container-fluid no-padding margin-top-20">
            <div class="float-right">
              <a href="#" class="link-btn-plain" ng-click="$dismiss()">Cancel</a>
              <button class="btn btn-blue btn-width-xl" ng-click="save()"><span class="login-loading" ng-cloak ng-show="saving"><i class="fa fa-spinner fa-spin" ></i></span>Save</button>
            </div>
        </div>
      </div>
    </div>
  </form>
</div>