<div class="wrapper row" style="margin:15px;">
  	<div class="col-sm-3" style="padding:{{paddingFBLR}}px;text-align: center;">
  		<img src="{{imgCol3_1}}" class="tem3333">
  	</div>
  	<div class="col-sm-3" style="padding:{{paddingFBLR}}px;text-align: center;">
  		<img src="{{imgCol3_2}}" class="tem3333">
  	</div>
  	<div class="col-sm-3" style="padding:{{paddingFBLR}}px;text-align: center;">
  		<img src="{{imgCol3_3}}" class="tem3333">
  	</div>
  	<div class="col-sm-3" style="padding:{{paddingFBLR}}px;text-align: center;">
  		<img src="{{imgCol3_4}}" class="tem3333">
  	</div>
</div>
