<div class="wrapper row" style="margin:15px;">
	<!-- Type = IMG -->
	<div class="col-sm-6" style="text-align: center;padding:{{paddingFBLR}}px;">
	  	<img src="http://dummyimage.com/300x200/000/fff.png" class="tem84 image-responsive">
	</div>
	<div class="col-sm-6" style="text-align: center;padding:{{paddingFBLR}}px;">
	  	<!-- <img src="{{imgR}}" class="tem66"> -->
	  	<!-- <div class="row"> -->
	  		<div class="col-sm-4" style="text-align: center;padding:{{paddingFBLR}}px;">
	  			<img src="http://dummyimage.com/300x300/000/fff.png" class="tem84">
	  		</div>
	  		<div class="col-sm-4" style="text-align: center;padding:{{paddingFBLR}}px;">
	  			<img src="http://dummyimage.com/300x300/000/fff.png" class="tem84">
	  		</div>
	  		<div class="col-sm-4" style="text-align: center;padding:{{paddingFBLR}}px;">
	  			<img src="http://dummyimage.com/300x300/000/fff.png" class="tem84">
	  		</div>
	  	<!-- </div> -->
	  	<!-- <div class="row"> -->
	  		<div class="col-sm-4" style="text-align: center;padding:{{paddingFBLR}}px;">
	  			<img src="http://dummyimage.com/300x300/000/fff.png" class="tem84">
	  		</div>
	  		<div class="col-sm-4" style="text-align: center;padding:{{paddingFBLR}}px;">
	  			<img src="http://dummyimage.com/300x300/000/fff.png" class="tem84">
	  		</div>
	  		<div class="col-sm-4" style="text-align: center;padding:{{paddingFBLR}}px;">
	  			<img src="http://dummyimage.com/300x300/000/fff.png" class="tem84">
	  		</div>
	  	<!-- </div> -->
	</div>
</div>