<nc-alert nc-model="alert"></nc-alert>
<div class="modal-header newsletter-modal-header">
  <h3 class="modal-title modal_title_abosolute">Newsletter Detail</h3>
  <div class="title_relative">
    <div class="float-right">
      <a href="#" class="link-btn-plain" ng-click="$dismiss()">Cancel</a>
      <button class="btn btn-blue btn-width-xl" ng-click="save()">Save</button>
    </div>
  </div>
</div>
<div class="modal-body">
  <form ng-show="!saving && !loading" name="form" class="ah-form margin-top-20">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-section-content">
          <div nc-template="common/input/form-group-with-label"
            nc-template-options-path="addNewsletterForm/Subject"
            nc-template-form="form.Subject"
            nc-label="Subject">
            <input
              type="text"
              class="form-control"
              ng-model="formData.Subject"
              ng-pattern-restrict="^[^<>]*$"
              maxlength="255"
              required
              />
          </div>
          <div nc-template="common/input/form-group-with-label"
            nc-template-options-path="addNewsletterForm/Image"
            nc-template-form="form.Image"
            nc-label="Image">
              <button
              type="button"
              name="Image"
              class="btn btn-default"
              ngf-accept="'.jpg,.jpeg'"
              ngf-select="upload($file)"
              ngf-max-size="'5MB'"
              ng-model="dummy"
              >Choose File</button>
          </div>
          <div ng-show="formData.Image"
            nc-template="common/input/form-group-with-label"
            nc-label="Image Preview">
              <img ng-src="{{formData.Image.Url}}" class="img-responsive" />
              <a style="display:block;" class="margin-top-5" ng-click="formData.Image=null"><i class="fa-trash fa"></i> Delete this image</a>
          </div>
          <div nc-template="common/input/form-group-with-label"
            nc-template-options-path="addNewsletterForm/Description"
            nc-template-form="form.Description"
            nc-label="Content">
            <textarea
              class="form-control"
              ng-model="formData.Description"
              ng-pattern-restrict="^[^<>]*$"
              maxlength="2000"
              required></textarea>
          </div>
          <div nc-template="common/input/form-group-with-label"
            nc-template-options-path="addNewsletterForm/PublishedDt"
            nc-template-form="form.PublishedDt"
            nc-label="Published Date">
              <div>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <input readonly style="background-color:white" type="text"
                         class="input-icon-calendar form-control" value="{{ formData.PublishedDt | datetimeTh }}" />
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker name="PublishedDt"
                        ng-date-before="{{formData.PublishedDt}}"
                        data-ng-model="formData.PublishedDt"
                        data-datetimepicker-config="{ dropdownSelector: '#dropdown', minView: 'hour' }" 
                        required />
                    </ul>
                </div>
            </div>
          </div>
          <div nc-template="common/input/form-group-with-label"
            nc-template-options-path="addNewsletterForm/ExpiredDt"
            nc-template-form="form.ExpiredDt"
            nc-label="Expired Date">
              <div>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <input readonly style="background-color:white" type="text"
                         class="input-icon-calendar form-control" value="{{ formData.ExpiredDt | datetimeTh }}" />
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker name="ExpiredDt"
                        ng-date-before="{{formData.ExpiredDt}}"
                        data-ng-model="formData.ExpiredDt"
                        data-datetimepicker-config="{ dropdownSelector: '#dropdown', minView: 'hour' }" />
                    </ul>
                </div>
            </div>
          </div>
          <div nc-template="common/input/form-group-with-label"
            nc-template-options-path="addNewsletterForm/VisibleShopGroup"
            nc-template-form="form.VisibleShopGroup"
            nc-label="Allow Reader">
            <ui-select ng-model="formData.VisibleShopGroup">
              <ui-select-match>{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="item.value as item in shopGroupOptions">{{item.name}}</ui-select-choices>
            </ul-select>
          </div>
          <div nc-template="common/input/form-group-with-label"
            nc-template-options-path="addNewsletterForm/IncludeShop"
            nc-template-form="form.IncludeShop"
            nc-label="Include Shop">
            <ui-select ng-model="formData.IncludeShop" multiple tagging-label="" nc-tag-validator nc-max-tag-count="100">
              <ui-select-match placeholder="Search by Shop Name or ID">{{$item.ShopNameEn}} ({{$item.ShopId}})</ui-select-match>
              <ui-select-choices refresh="getShops($select.search, 'include')" repeat="item in shops.include.data">{{item.ShopNameEn}} ({{item.ShopId}})</ui-select-choices>
            </ul-select>
          </div>
          <div nc-template="common/input/form-group-with-label"
            nc-template-options-path="addNewsletterForm/ExcludeShop"
            nc-template-form="form.ExcludeShop"
            nc-label="Exclude Shop">
            <ui-select ng-model="formData.ExcludeShop" multiple tagging-label="" nc-tag-validator nc-max-tag-count="100">
              <ui-select-match placeholder="Search by Shop Name or ID">{{$item.ShopNameEn}} ({{$item.ShopId}})</ui-select-match>
              <ui-select-choices refresh="getShops($select.search, 'exclude')" repeat="item in shops.exclude.data">{{item.ShopNameEn}} ({{item.ShopId}})</ui-select-choices>
            </ul-select>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <hr>
        <span class="float-right">
          <a class="link-btn-plain" ng-click="$dismiss()">Cancel</a>
          <button class="btn btn-blue btn-width-xl" ng-click="save()">Save</button>
        </span>
      </div> <!-- end .col-xs-12 -->
    </div>
  </form>
  <div ng-show="saving" nc-loading="Saving.."></div>
  <div ng-show="loading" nc-loading="Loading.."></div>
</div>