<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">{{ item.Subject }}</h3>
</div>
<div class="modal-body">
  <form class="ah-form margin-top-20">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-section-content">
          <div class="color-grey">Publish Date: {{ item.PublishedDt | dateTh }}</div>
          <div class="color-grey">By: Admin</div>
          <p class="margin-top-30"><img ng-if="item.ImageUrl" src="item.ImageUrl" />
            {{ item.Description }}</p>
        </div>
      </div>
    </div>
  </form>
</div>