<div class="row margin-top-30" ng-show="open">
	<div class="col-xs-12">
		<div class="form-section">
			<div class="form-section-header"><h2>Advance Search</h2></div>
			<div class="form-section-content">
				<form name="form" class="ah-form">
						<div nc-template="common/input/form-group-with-label" nc-template-form="form.ProductName" nc-label="Product Name" nc-template-options-path="searchForm/ProductName">
		                    <input class="form-control width-field-normal" name="ProductName" ng-model="formData.ProductName" required />
						</div>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form" nc-label="PID" nc-template-options-path="searchForm/Pid">
		                    <input class="form-control width-field-normal" name="Pid" ng-model="formData.Pid" required />
						</div>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form" nc-label="SKU" nc-template-options-path="searchForm/SKU">
		                    <input class="form-control width-field-normal" name="SKU" ng-model="formData.SKU" required />
						</div>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form" nc-label="Brand Name / ID" nc-template-options-path="searchForm/Brands">
							    <ui-select ng-model="formData.Brands" name="Brands" nc-tag-validator nc-max-tag-count="20" nc-max-tag-length="30" multiple tagging-tokens=",|ENTER" tagging-label="" nc-tag-field>
	                                <ui-select-match placeholder="Separate tags with comma (or enter)">
	                                    {{$item}}
	                                </ui-select-match>
	                                <ui-select-choices repeat="item in options.Brands">
	                                    {{item}}
	                                </ui-select-choices>
	                            </ui-select>
						</div>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form" nc-label="Global Category Name/ ID" nc-template-options-path="searchForm/GlobalCategory">
							<nc-breadcrumb-select name="GlobalCategory" nc-model="formData.GlobalCategory" nc-breadcrumb-select-tree="options.GlobalCategory"></nc-breadcrumb-select>
						</div>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form" nc-label="Local Category Name/ ID" nc-template-options-path="searchForm/LocalCategory" ng-if="!options.Admin">
							<nc-breadcrumb-select name="LocalCategory" nc-model="formData.LocalCategory" nc-breadcrumb-select-tree="options.LocalCategory"></nc-breadcrumb-select>
						</div>
						<div nc-template="common/input/form-group-with-label" nc-template-form="form" nc-label="Search Tag" nc-template-options-path="searchForm/Tags">
							    <ui-select ng-model="formData.Brand" name="Brand" nc-tag-validator nc-max-tag-count="20" nc-max-tag-length="30" multiple tagging-tokens=",|ENTER" tagging-label="" nc-tag-field>
	                                <ui-select-match placeholder="Separate brands with comma (or enter)">
	                                    {{$item}}
	                                </ui-select-match>
	                                <ui-select-choices repeat="item in options.Tags">
	                                    {{item}}
	                                </ui-select-choices>
	                            </ui-select>
						</div>
						<div nc-template="common/input/form-group-with-label-multiple" nc-template-form="form" nc-label="Price" nc-template-options-path="searchForm/Price">
							<div class="width-field-small-input">
								<input type="text" name="Price.From" ng-model="formData.Price.From" class="form-control"/>
							</div>
							<div class="width-label-extend text-center">To</div>
							<div class="width-field-small-input">
								<input type="text" name="Price.To" ng-model="formData.Price.To" class="form-control" />
							</div>
						</div>
						<div nc-template="common/input/form-group-with-label-multiple" nc-template-form="form" nc-label="Created Date" nc-template-options-path="searchForm/CreatedDate">
							<div class="width-field-small-input">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <input readonly style="background-color:white" type="text"
                                         class="input-icon-calendar form-control" value="{{ formData.CreatedDt.From | date: 'dd/MM/yy HH:mm' }}" />
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="formData.CreatedDt.From" data-datetimepicker-config="{ dropdownSelector: '#dropdown', minView: 'hour' }" />
                                    </ul>
                                </div>
							</div>
							<div class="width-label-extend">To</div>
							<div class="width-field-small-input">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <input readonly style="background-color:white" type="text"
                                         class="input-icon-calendar form-control" value="{{ formData.CreatedDt.To | date: 'dd/MM/yy HH:mm' }}" />
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="formData.CreatedDt.To" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView: 'hour' }" />
                                    </ul>
                                </div>
							</div>
						</div>
						<div nc-template="common/input/form-group-with-label-multiple" nc-template-form="form" nc-label="Modified Date" nc-template-options-path="searchForm/ModifiedDate">
							<div class="width-field-small-input">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <input readonly style="background-color:white" type="text"
                                         class="input-icon-calendar form-control" value="{{ formData.UpdatedDt.From | date: 'dd/MM/yy HH:mm' }}" />
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="formData.UpdatedDt.From" data-datetimepicker-config="{ dropdownSelector: '#dropdown3', minView: 'hour' }" />
                                    </ul>
                                </div>
							</div>
							<div class="width-label-extend">To</div>
							<div class="width-field-small-input">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <input readonly style="background-color:white" type="text"
                                         class="input-icon-calendar form-control" value="{{ formData.UpdatedDt.To | date: 'dd/MM/yy HH:mm' }}" />
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="formData.UpdatedDt.To" data-datetimepicker-config="{ dropdownSelector: '#dropdown4', minView: 'hour' }" />
                                    </ul>
                                </div>
							</div>
						</div>
						<div class="form-group">
							<div class="width-label"><label class="control-label"></label></div>
							<div class="button-size-normal">
								<a class="button-size-normal btn btn-blue btn-width-xl" ng-click="search()">Search</a>
							</div>
							<div class="button-size-normal">
								<a class="button-size-normal margin-left-10 btn btn-white btn-width-xl" ng-click="clear()">Clear</a>
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>