<div class="modal-header no-border">
	<button type="button" class="close" aria-label="Close" ng-click="no()"><span class="padding-left-15" aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body confirmation-modal no-margin">
	<div class="row">
		<div class="col-xs-12 margin-bottom-30">
			<h2 class="font-size-20 text-centerx text-normal margin-bottom-20">{{title}}</h2>
			<div ng-bind-html="message"></div>
		</div>
		<div class="confirmation-action no-margin">
			<button type="button" class="btn btn-white" ng-click="no()">{{btnNo}}</button>
			<button type="button" class="btn {{btnClass}}" ng-click="yes()">{{btnYes}}</button>
		</div> <!-- end .col-xs-12 -->
	</div> <!-- end .row -->
</div> <!-- end .modal-body -->
