<div>
	<p class="featured-image-wrapper">Featured Image</p>
	<ul class="image-management-list">
		<li class="list-item" ng-repeat="image in images track by $index">
			<div class="image-thumbs-actions">
				<div class="image-thumbs-img-wrapper">
					<img ng-src="{{ getSrc(image) }}" />
				</div>
				<div class="actions-wrapper" >
					<a class="action {{ isDisabled(image) ? 'disabled' : ''}}" ng-repeat="action in options.actions" style="width: {{100 / options.actions.length }}%;" ng-click="call(action, image, model)">
						<i class="fa {{action.icon}}"></i>
					</a>
					<!-- fa-search-icon fa-trash -->
				</div>
			</div>
		</li>
	</ul>
</div>