<nc-alert nc-model="alert"></nc-alert>
<div class="modal-body confirmation-modal no-margin">
	<div class="row">
		<div class="col-xs-12 margin-bottom-20">
            <div class="radio multiple-radio multiline">
				<label>
					<input type="radio" name="IsOwnCarrier" ng-model="formData.IsOwnCarrier" ng-value="false"/> Merchant Own Fleet
				</label>
				<label class="margin-top-10">
					<input type="radio" class="float-left" name="IsOwnCarrier" ng-model="formData.IsOwnCarrier" ng-value="true"/> 
					<div class="float-left">Other Carrier
						<input class="form-control margin-top-5" type="text" name="Carrier" ng-model="formData.OtherCarrier" ng-disabled="!formData.IsOwnCarrier"/>
					</div>
				</label>
			</div>
			<p class="margin-top-20">Tracking Number</p>
			<input class="form-control" ng-model="model.TrackingNumber"/>
		</div>
		<div class="confirmation-action no-margin">
			<button type="button" class="btn btn-white" ng-click="no()">Cancel</button>
			<button type="button" class="btn btn-blue" ng-click="yes()">Confirm</button>
		</div> <!-- end .col-xs-12 -->
	</div> <!-- end .row -->
</div> <!-- end .modal-body -->
