<nc-alert nc-model="alert"></nc-alert>
<div class="modal-header">
	<span class="float-right">
		<a class="link-btn-plain" ng-click="$dismiss()">Cancel</a>
		<button class="btn btn-blue btn-width-xl" ng-click="save()">Save</button>
	</span>
	<h3 class="modal-title">Local Category Detail</h3>
</div>
<div class="modal-body margin-top-20" ng-cloak>
	<form ng-show="!saving && !loading" class="ah-form" name="form" novalidate>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-section">
					<div class="form-section-header">
						<h2>Local Category Information</h2>
					</div>
					<div class="form-section-content modal-custom">
						<div nc-template="common/input/form-group-with-label"
							nc-template-form="form.NameEn"
							nc-template-options-path="addCategoryForm/NameEn"
							nc-label="Category Name (English)">
						<input
						 class="form-control"
						 name="NameEn"
						 ng-model="formData.NameEn"
						 ng-pattern="/^[^ก-๙]+$/"
						 maxlength="100"
						 required />
		                </div>

						<div nc-template="common/input/form-group-with-label"
							nc-template-form="form.NameTh"
							nc-template-options-path="addCategoryForm/NameTh"
							nc-label="Category Name (ไทย)">
						<input
						 class="form-control"
						 name="NameTh"
						 ng-model="formData.NameTh"
						 maxlength="100"
						 required />
						</div>
	                    <div nc-template="common/input/form-group-with-label"
							nc-template-form="form.UrlKey"
							nc-template-options-path="addCategoryForm/UrlKeyEn"
							nc-label="URL (English)">
						  <input
	                        class="form-control"
	                        name="UrlKey"
	                        ng-model="formData.UrlKey"
	                        ng-pattern="/^[A-Za-z0-9_\-]+$/"
	                        maxlength="300"
	                        />
	                    </div>
	                    <div nc-template="common/input/form-group-with-label" 
		                  nc-template-form="form.SortBy" 
		                  nc-label="Default Sort By" 
		                  nc-template-options-path="addBrandForm/SortBy">
		                  <ui-select ng-model="formData.SortBy" name="SortBy" search-enabled="false" required>
		                      <ui-select-match>{{$select.selected.SortByName}}</ui-select-match>
		                      <ui-select-choices repeat="item in sortBy">{{item.SortByName}}</ui-select-choices>
		                  </ui-select>
		              	</div>
					</div>
				</div>
				<!-- Banner -->
		        <nc-image-banner name="CategoryBannerEn" data-source="formData.IsBannerEn" nc-model="formData.CategoryBannerEn" title="Upload Banner (English)" uploader="bannerUploader" on-fail="uploadBannerFail" size="8"></nc-image-banner>
		        <nc-image-banner name="CategoryBannerTh" data-source="formData.IsBannerTh" nc-model="formData.CategoryBannerTh" title="Upload Banner (ไทย)" uploader="bannerUploader" on-fail="uploadBannerFail" size="8"></nc-image-banner>
		        <nc-image-banner name="CategoryBannerEn" data-source="formData.IsSmallBannerEn" nc-model="formData.CategorySmallBannerEn" title="Upload Small Banner (English)" uploader="bannerSmUploader" on-fail="uploadBannerFail" size="8"></nc-image-banner>
		        <nc-image-banner name="CategoryBannerTh" data-source="formData.IsSmallBannerTh" nc-model="formData.CategorySmallBannerTh" title="Upload Small Banner (ไทย)" uploader="bannerSmUploader" on-fail="uploadBannerFail" size="8"></nc-image-banner>
		        <!-- Description -->
		        <div class="form-section">
		          <div class="form-section-header">
		              <h2>Description</h2></div>
		          <div class="form-section-content">
		              <div class="two-columns">
	                    <div class="row">
	                        <div nc-template="common/input/div-with-label" nc-label="Description (English)" nc-template-options-path="genericForm/DescriptionFull"
	                        nc-template-form="form.DescriptionFullEn">
	                            <textarea ng-ckeditor="$root.ckOptions" class="form-control" maxlength="500" name="DescriptionFullEn" ng-model="formData.DescriptionFullEn">
	                            </textarea>
	                        </div>
	                        <div nc-template="common/input/div-with-label" nc-label="Description (ไทย)" nc-template-options-path="genericForm/DescriptionFull"
	                        nc-template-form="form.DescriptionFullTh">
	                            <textarea ng-ckeditor="$root.ckOptions" class="form-control" maxlength="500" name="DescriptionFullTh" ng-model="formData.DescriptionFullTh">
	                            </textarea>
	                        </div>

	                    </div>
	                    <div class="row margin-top-30">
	                        <div nc-template="common/input/div-with-label" nc-label="Mobile Description (English)" nc-template-options-path="genericForm/DescriptionMobile"
	                        nc-template-form="form.DescriptionMobileEn">
	                            <textarea ng-ckeditor="$root.ckOptions" class="form-control" maxlength="500" name="DescriptionMobileEn" ng-model="formData.DescriptionMobileEn">
	                            </textarea>
	                        </div>
	                        <div nc-template="common/input/div-with-label" nc-label="Mobile Description (ไทย)" nc-template-options-path="genericForm/DescriptionMobile"
	                        nc-template-form="form.DescriptionMobileTh">
	                            <textarea ng-ckeditor="$root.ckOptions" class="form-control" maxlength="500" name="DescriptionMobileTh" ng-model="formData.DescriptionMobileTh">
	                            </textarea>
	                        </div>

	                    </div>
		                  <div class="row margin-top-30">
		                      <div nc-template="common/input/div-with-label" nc-label="Short Description (English)" nc-template-options-path="genericForm/DescriptionShortEn"
		                      nc-template-form="form.DescriptionShortEn">
		                          <textarea ng-pattern="/^[^<>ก-๙]+$/" class="form-control" maxlength="500" name="DescriptionShortEn" ng-model="formData.DescriptionShortEn">
		                          </textarea>
		                      </div>
		                      <div nc-template="common/input/div-with-label" nc-label="Short Description (ไทย)" nc-template-options-path="genericForm/DescriptionShortTh"
		                      nc-template-form="form.DescriptionShortTh">
		                          <textarea ng-pattern="/^[^<>]+$/" class="form-control" maxlength="500" name="DescriptionShortTh" ng-model="formData.DescriptionShortTh">
		                          </textarea>
		                      </div>
		                  </div>
		              </div>
		          </div>
		        </div>
		        <!-- Feature product -->
		        <div class="form-section">
		          <div class="form-section-header"><h2>Featured Products</h2></div>
		          <div class="form-section-content">
		            <div ng-if="availableProducts == 0  || id == 0">
		              <div nc-template="common/input/form-group-with-label"
		                nc-label="Featured Products">
		                <span class="form-text">will be available after adding product into this category</span>
		              </div>
		            </div>
		            <div ng-if="availableProducts > 0">
		              <div nc-template="common/input/form-group-with-label"
		                nc-template-options-path="genericForm/FeatureTitle"
		                nc-label="Featured Product Title">
		                <input type="text" class="form-control" ng-model="formData.FeatureTitle"/>
		              </div>
		              <div nc-template="common/input/form-group-with-label"
		                nc-label=""><input type="checkbox" ng-model="formData.TitleShowcase"/> Title = Showcase
		              </div>
		              <div nc-template="common/input/form-group-with-label"
		              	nc-template-form="form.FeatureProducts"
		                nc-template-options-path="genericForm/FeatureProducts"
		                nc-label="Featured Product">
		                <ui-select name="FeatureProducts" multiple ng-model="formData.FeatureProducts" nc-tag-validator nc-max-tag-count="20">
		                    <ui-select-match placeholder="Search for Product name or PID">
		                        {{ $item.ProductNameEn }}
		                    </ui-select-match>
		                    <ui-select-choices placeholder="Search result" refresh="getFeatureProduct($select.search)" refresh-delay="150" repeat="i in products">
		                        {{ i.ProductNameEn }}
		                    </ui-select-choices>
		                </ui-select>
		              </div>    
		              <div nc-template="common/input/form-group-with-label" nc-label="Feature Product Status">
		                <select ng-model="formData.FeatureProductStatus" class="form-control" ng-options="o.v as o.n for o in [{v: false, n: 'Disable'}, {v: true, n: 'Enable'}]"></select>
		              </div>
		            </div>
		          </div>
		        </div>
	            <div class="form-section">
	                <div class="form-section-header"><h2>Category Visibility</h2></div>
	                <div class="form-section-content modal-custom">
	                    <div ng-template="common/input/multiline-radio"
	                    	ng-template-options="{ 'label' : 'Visibility' }">
	                    	<label ng-repeat="choice in statusOptions"><input type="radio" ng-model="formData.Visibility" ng-value="choice.value"/>{{choice.name}}</label>
	                	</div>
	                </div>
	            </div>
			</div> <!-- end .col-xs-12 -->
	        <div class="col-xs-12 text-align-left" style="margin-top:-15px; margin-bottom:0px;">
	          <span class="color-red"><i class="fa fa-asterisk"></i></span> - Required Field
	        </div>
			<div class="col-xs-12">
				<span class="float-right">
					<a class="link-btn-plain" ng-click="$dismiss()">Cancel</a>
					<button class="btn btn-blue btn-width-xl" ng-click="save()">Save</button>
				</span>
			</div> <!-- end .col-xs-12 -->
		</div> <!-- end .row -->
	</form>
	<div ng-show="saving" nc-loading="Saving.."></div>
	<div ng-show="loading" nc-loading="Loading.."></div>
</div> <!-- end .modal-body -->
