<div>
  <div ng-class="['form-group ' + (options.formGroupClass || '')]">
    <div class="width-label">
      <label class="control-label ng-binding" ng-class="options.labelClass || {}">{{ startLabel }}</label>
    </div>
    <div ng-class="['width-field-' + (options.inputSize || 'normal')]" class="input-with-unit">
      <div class="dropdown">
          <a class="dropdown-toggle" id="date_range_vertical_dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
              <input readonly style="background-color:white" type="text"
               ng-class="{'has-error': endDate <= startDate }"
               placeholder="{{ startPlaceholder || '' }}"
               class="form-control input-icon-calendar width-field-large"
               value="{{ startDate | datetimeTh }}" />
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker data-ng-model="startDate" data-datetimepicker-config="{ dropdownSelector: '#date_range_vertical_dropdown1', minView: 'minute', minuteStep: 30 }" />

          </ul>
      </div>
    </div>
  </div>
  <div ng-class="['form-group ' + (options.formGroupClass || '')]">
    <div class="width-label">
      <label class="control-label ng-binding" ng-class="options.labelClass || {}">{{ endLabel }}</label>
    </div>
    <div ng-class="['width-field-' + (options.inputSize || 'normal')]" class="input-with-unit">
      <div class="dropdown">
          <a class="dropdown-toggle" id="date_range_vertical_dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
              <input readonly style="background-color:white" type="text"
               ng-class="{'has-error': endDate <= startDate }"
               placeholder="{{ endPlaceholder || '' }}"
               class="form-control input-icon-calendar width-field-large"
               value="{{ endDate | datetimeTh }}" />
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel2">
              <datetimepicker data-ng-model="endDate" data-datetimepicker-config="{ dropdownSelector: '#date_range_vertical_dropdown2', minView: 'minute', minuteStep: 30 }" />
          </ul>
      </div>
      <div class="width-field-large">
          <span class="help-block color-red" ng-if="endDate <= startDate">
              <span>{{ errorText || "Start date/time must come before end date/time" }}</span>
          </span>
      </div>
    </div>
  </div>

</div>
